button {
	-webkit-appearance: none;
	border: none;
	box-shadow: none;
}

.btn-primary {
	border-radius: 4px;
	background: $primary-bg-color;
	text-transform: uppercase;
	color: $light-text-color;

	padding: $base-unit*1.5;
	@include font-size($base-font-size);
	transition: background 0.3s ease;

	&:hover, &:focus {
		background: darken($primary-bg-color, 10%);
	}
}

.btn-secondary {
	border-radius: 4px;
	background: $secondary-bg-color;
	text-transform: uppercase;
	color: $light-text-color;

	padding: $base-unit*1.5;
	@include font-size($base-font-size);
	transition: background 0.3s ease;

	&:hover, &:focus {
		background: lighten($secondary-bg-color, 10%);
	}
}
