input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="date"],
textarea {
	@include font-size($base-font-size);
	padding: $base-unit;
	border: 1px solid #ccc;
	width: 100%;
	max-width: 100%;
}

legend {
	margin-bottom: $base-unit*2;
	color: $body-text-color;
}

label {
	display: block;
	margin-bottom: $base-unit/2;
}

form {
	.field-multiple-table {
		width: 100%;
		background: white;

		td {
			padding: $base-unit/2 0;
		}
	}
}

.form-item {
	background: $light-bg-color;
	padding: $base-unit*2;
	margin: 0 0 1px 0;

	.form-item {
		padding: 0;
		margin: 0 0 $base-unit 0;
		background: none;
	}

	label, legend {
		font-weight: bold;
	}

	p:last-child {
		margin-bottom: 0;
	}
}
