.site-header {
	border-top: $base-unit*2 solid $primary-bg-color;
	padding-top: $base-unit*2;
	padding-bottom: $base-unit*2;
}



.site-header__logo {
	display: block;
	width: 154px;
	height: 38px;
}


@include media-query(md) {

	.site-header {
		border-width: $base-unit*5;
		padding-bottom: $base-unit*5;
	}

}
