/**
 * Colours
 * Colours can be substituted for your theme colors
 */

// Colour palette
$ocha-blue: #026CB6;
$dark-blue: #002D80;
$light-grey: #F2F2F2;
$mid-light-grey: #CCCCCC;
$mid-grey: #595959;
$red: #BF0013;

// Background colors
$light-bg-color: $light-grey;
$primary-bg-color: $ocha-blue;
$secondary-bg-color: $dark-blue;
$site-bg-color: $light-grey;
$body-bg-color: white;

// Border colours
$border-color: $mid-light-grey;
$highlight-border-color: $dark-blue;
$error-border-color: $red;
$light-border-color: $light-grey;

// Text colours
$body-text-color: $mid-grey;
$heading-text-color: $ocha-blue;
$secondary-heading-text-color: $dark-blue;
$light-text-color: white;
$link-text-color: $dark-blue;
$active-link-text-color: $ocha-blue;
$error-text-color: $red;

// Header colors
$cd-highlight-color: lighten($primary-bg-color,15%);
$cd-nav-focus-bg: $light-grey;


/**
 * Measurements
 */
$cd-base-unit: 8px;
$cd-max-width: 1220px;
$cd-max-body-width: 1400px;
$cd-global-header-height: $cd-base-unit*5;
$cd-site-header-height-xs: $cd-base-unit*6;
$cd-site-header-height-md: $cd-base-unit*7.5;
$cd-footer-height-xs: 280px;
$cd-footer-height-md: 280px;
$cd-logo-width-xs: $cd-base-unit*6;
$cd-logo-width-sm: 135px;
$cd-logo-width-md: 167px;

/**
 * Fonts and Font sizes
 * Fonts in used in the header and footer should not be changed
 * Font sizes can be changed if necessary, for instance if need to fit more navigation items
 */
$tiny-font-size: 12px;
$small-font-size: 14px;
$base-font-size: 16px;
$cd-body-font: sans-serif;
$cd-heading-font: 'Open Sans', sans-serif;
