.layout-demo- {
  background: #BCD3EE;
  position: relative;

  body {
    border: 1px solid black;
  }

  .page-wrapper {
    height: calc(100vh - 90px);
  }

  header, footer {
    height: 90px;
    background: #9F9F9F;
  }

  .container {
    position: relative;
    height: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;

    &:before, &:after {
      content: "";
      position: absolute;
      background: #DCA3E8;
      width: 8px;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.6;
      z-index: 1;
    }

    &:after {
      right: 0;
      left: auto;
    }
  }

  @media (min-width: 768px) {

    .container {
      &:before, &:after {
        width: 16px;
      }
    }

  }

  @media (min-width: 1200px) {

    .container {
      &:before, &:after {
        width: 40px;
      }
    }

  }
}
