html {
  background: #CFD1D2;
  margin: 0;
  margin-left: calc(100vw - 100%); //prevents scrollbar changing page width in IE
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  background: white;
  max-width: 1400px;
}

.container {
  padding: 0 8px;
  margin: 0 auto;
  max-width: 1200px;
}

@media (min-width: 768px) {

  html {
    padding: 0 8px;
  }

  .container {
    padding: 0 16px;
  }

}


@media (min-width: 1200px) {

  .container {
    padding: 0 40px;
  }

}
