.#{$namespace}-site-header {
  border-bottom: 2px solid $cd-border-color;
}

.#{$namespace}-site-header__inner {
  align-items: center;
  position: relative;

  @if $cd-fixed-width == false {
    height: $cd-site-header-height-xs;
  } @else {
    height: $cd-site-header-height-md;
  }

  @if $modernizr == false {
    height: $cd-site-header-height-md;
  } @else {
    display: flex;
    .no-flexbox & {
      height: $cd-site-header-height-md;
      padding-top: $cd-base-unit;
      padding-bottom: $cd-base-unit;
    }
  }
}

.#{$namespace}-site-header__logo {
  display: block;
  width:  $cd-base-unit*6;
  height: $cd-base-unit*6;
  position: relative;


  @if $modernizr == false {
    background: url('../assets/images/ocha-logo.png') left center no-repeat;
    margin-top: 10px;
  } @else {
    background: url('../assets/images/ocha-logo-mobile.svg') left center no-repeat;

    .no-svg & {
      background-image: url('../assets/images/ocha-logo-mobile.png');

      span {
        position: absolute;
        left: -99999px;
      }
    }
  }

  background-size: 100% auto;

  &:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
  }

  @if $cd-fixed-width == true {
    width: 167px;
    height: $cd-site-header-height-md;
    margin-right: $cd-base-unit*2;
    margin-top: 0;
  }

  &.#{$namespace}-site-header__logo--loggedout {
    width: $cd-logo-width;
  }

  @if $modernizr == false {
    float: left;
  } @else {
    .no-flexbox & {
      float: left;
    }
  }

  &:hover, &:focus, &.#{$namespace}-active {
    &:after {
      border-color: $cd-highlight-color;
    }
  }

  &:focus {
    outline-style: dotted;
    outline-width: 1px;
    outline-color: $cd-border-color;
  }

  .no-mediaqueries & {
    width: $cd-base-unit*30;
  }
}

.#{$namespace}-site-header__search {
  flex-grow: 1;

  @if $modernizr == false {
    float: left;
    padding-top: 10px;
  } @else {
    .no-flexbox & {
      float: left;
    }
  }
}

.#{$namespace}-header-search {
  position: relative;

  @if $modernizr == true {
    .no-svg & {
      label {
        position: absolute;
        left: -999999px;
      }
    }
  }
}

.#{$namespace}-header-search__input {
  border: none;
  border-radius: none;
  box-shadow: none;
  -webkit-appearance: none;
  background: transparent;
  font-family: $cd-font;
  font-size: $cd-base-font-size;
  padding: $cd-base-unit*1.5 $cd-base-unit*1.5 $cd-base-unit*1.5 $cd-base-unit*3.5;
  width: 96%;
  height: $cd-site-header-height-xs + 2;
  border-bottom: 2px solid transparent;
  margin-top: 2px;

  &:focus {
    outline: none;
    background: $cd-nav-focus-bg;
    border-color: $cd-highlight-color;
  }

  @if $modernizr == false {

  } @else {
    .no-svg & {
      border: 1px solid $cd-border-color;
    }
  }
}

.#{$namespace}-header-search__button {
  position: absolute;
  left: $cd-base-unit/2;
  top: 50%;
  margin-top: -$cd-base-unit*1.25;
  width: $cd-base-unit*2.5;
  height: $cd-base-unit*2.5;

  &:focus {
    outline: none;
    background: $cd-primary-color;
  }

  .icon-arrow-down {
    display: inline-block;
    padding-top: 2px;
  }

  @if $modernizr == false {

    svg {
      display: none;
    }

    background: url('../assets/images/search.png') center no-repeat;
    background-image: url('../assets/images/search.svg'), none;

  } @else {

    svg {
      width: 100%;
      height: 100%;
      fill: $cd-highlight-color;
    }

    .no-svg & {
      left: auto;
      top: 10px;
      right: 2%;
      height: 100%;
      width: auto;
      background: $cd-primary-color;
      color: $cd-text-light;
      padding: $cd-base-unit;

      .#{$namespace}-sr-only {
        position: static;
      }
      svg {
        display: none;
      }
    }
  }
}

.#{$namespace}-header-search__input:focus + .#{$namespace}-header-search__button svg {
  fill: $cd-primary-color;
}

.#{$namespace}-site-header__nav-toggle {
  @if $cd-fixed-width == false {
    width: $cd-base-unit*5;
    height: $cd-base-unit*4;
    padding: $cd-base-unit/2;
    position: relative;

    &:focus {
      outline: none;
      background: $cd-primary-color;

      .icon-bar {
        background: white;
      }
    }

    .icon-bar {
      display: block;
      width: $cd-base-unit*3;
      height: 2px;
      background: $cd-primary-color;
      margin: 0 auto;

      &+.icon-bar {
        margin-top: $cd-base-unit/2;
      }
    }

  } @else {
    display: none;
  }

  .no-mediaqueries & {
    display: none;
  }
}

.#{$namespace}-dropdown-menu.#{$namespace}-site-header__nav {

  @if $cd-fixed-width == false {
    top: 48px;
    width: 100%;
    left: 0;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.15);
    padding: $cd-base-unit;
  } @else {
    display: block;
    width: auto;
    max-width: none;
    position: static;
    box-shadow: none;
  }

  @if $modernizr == false {
    float: right;
  } @else {
    .no-flexbox {
      float: right;
    }
  }
}

@if $cd-fixed-width == false {

  @media (min-width: map-get($grid-breakpoints, sm)) {

    .#{$namespace}-site-header__logo {
      width: $cd-logo-width;
      margin-right: $cd-base-unit*3;
      background: url('../assets/images/ocha-logo.svg') left center no-repeat;
      background-size: auto 100%;

      .no-svg & {
        background: url('../assets/images/ocha-logo.png') left center no-repeat;
         background-size: auto 100%;
      }

    }

  }

  @media (min-width: map-get($grid-breakpoints, md)) {

    .#{$namespace}-site-header__inner {
      height: $cd-site-header-height-md;
    }

    .#{$namespace}-dropdown-menu.#{$namespace}-site-header__nav {
      top: $cd-base-unit*6;
    }

    .#{$namespace}-header-search__input {
      height: $cd-site-header-height-md + 2;
    }

    .#{$namespace}-site-header__logo {
      height: $cd-site-header-height-md;
      width: 167px;
    }
  }

  @media (min-width: map-get($grid-breakpoints, lg)) {

    .#{$namespace}-site-header__inner {
      .no-flexbox & {
        padding-top: $cd-base-unit*1.5;
        padding-bottom: $cd-base-unit*1.5;
      }
    }

    .#{$namespace}-site-header__nav-toggle {
      display: none;
    }

    .#{$namespace}-dropdown-menu.#{$namespace}-site-header__nav {
      display: block;
      position: relative;
      box-shadow: none;
      top: auto;
      right: auto;
      width: auto;
      max-width: none;
      background: none;
      z-index: auto;

      .no-flexbox & {
        float: right;
      }
    }

  }
}
