.#{$namespace}-global-header {
  background: $cd-primary-color;
  color: $cd-text-light;

  .dropdown-menu {
    background: $cd-primary-color;

    a {
      color: $cd-text-light;

      &:hover, &:focus {
        background: darken($cd-primary-color, 10%);
      }
    }
  }
}

.#{$namespace}-global-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $cd-global-header-height;

  @if $modernizr == false {
    display: block;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  } @else {

    .no-flexbox & {
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }
}

.#{$namespace}-global-header__sites {
  position: relative;
  margin-left: -$cd-base-unit;


  @if $modernizr == false {
    float: left;
  } @else {
    .no-flexbox & {
      float: left;
    }
  }

  .dropdown-menu {
    min-width: 236px;
  }
}

.#{$namespace}-global-header__sites-btn {
  color: $cd-text-light;
  text-transform: uppercase;
  text-align: left;
  padding: 0 $cd-base-unit;
  height: $cd-global-header-height;

  @if $cd-fixed-width == false {
    font-size: $cd-tiny-font-size;
  } @else {
    padding-left: $cd-base-unit*1.5;
    padding-right: $cd-base-unit*1.5;
  }

  &:hover, &:focus {
    background: darken($cd-primary-color, 10%);
    outline: none;
  }
}

.#{$namespace}-global-header__nav {
  margin-right: -$cd-base-unit;

  @if $modernizr == false {
    float: right;
  } @else {
    .no-flexbox & {
      float: right;
    }
  }
}

@if $cd-fixed-width == false {

  @media (min-width: map-get($grid-breakpoints, sm)) {

    .#{$namespace}-global-header__sites {
      margin-left: 0;
    }

    .#{$namespace}-global-header__sites-btn {
      font-size: $cd-small-font-size;
    }

    .#{$namespace}-global-header__nav {
      margin-right: 0;
    }

  }

  @media (min-width: map-get($grid-breakpoints, lg)) {
    .#{$namespace}-global-header__sites-btn {
      padding-left: $cd-base-unit*1.5;
      padding-right: $cd-base-unit*1.5;
    }
  }

}
