.#{$namespace}-nav__item {
  position: relative;

  .#{$namespace}-dropdown-menu {
    left: auto;
    right: 0;
    top: $cd-base-unit*3.5;
    width: 120px;
  }

  .#{$namespace}-nav--primary & {
    text-transform: uppercase;

    .no-mediaqueries & {
      display: inline-block;
    }
  }

  .#{$namespace}-nav--secondary & {
    display: inline-block;
  }

  &:last-child {
    .#{$namespace}-nav__link {
      &:before {
        content: none;
      }
    }
  }
}

.#{$namespace}-nav__link {
  display: block;
  line-height: 1;
  padding: 0 $cd-base-unit;
  text-decoration: none;
  position: relative;

  &:before {
    content: "";
    display: inline-block;
    width: 2px;
    position: absolute;
    right: -1px;
    top: 2px;
    height: $cd-base-unit*1.5;
  }

  .#{$namespace}-icon {
    svg {
      fill: $cd-text-light;
      vertical-align: text-bottom;
    }
  }

  .#{$namespace}-nav--primary & {
    color: $cd-primary-color;
    height: $cd-base-unit*6;
    display: flex;
    align-items: center;
    border-bottom: none;

    &:before {
      content: none;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      border-bottom: 2px solid transparent;
      transition: border-color 0.3s ease;
    }

    &:hover, &:focus {
      background: $cd-nav-focus-bg;
      outline: none;

      &:after {
        border-color: $cd-highlight-color;
      }
    }

    .no-mediaqueries & {
      height: auto;
      display: block;
      padding-top: $cd-base-unit*2;
      padding-bottom: $cd-base-unit*2;
    }
  }

  .#{$namespace}-active & {
    font-weight: bold;

    &:after {
      border-color: $cd-highlight-color
    }
  }

  .#{$namespace}-nav--secondary & {
    color: $cd-text-light;
    font-size: 14px;
    height: $cd-base-unit*2;

    &:before {
      width: 1px;
      background: $cd-text-light;
    }

    &:hover, &:focus {
      outline: none;
      .#{$namespace}-nav__label {
        text-decoration: underline;
      }
    }
  }

}

.#{$namespace}-nav__label:not(.#{$namespace}-nav__label--mobile) {
  @extend .#{$namespace}-sr-only;
}

@media (min-width: map-get($grid-breakpoints, md)) {

  .#{$namespace}-nav--secondary {
    .no-flexbox & {
      float: right;
    }
  }

  .#{$namespace}-nav__label {
    font-size: 16px;
  }

  .#{$namespace}-nav__label:not(.#{$namespace}-nav__label--mobile)  {
    position: relative;
    height: auto;
    width: auto;
    clip: auto;
    margin: 0 0 0 $cd-base-unit;
  }

  .#{$namespace}-nav__link {
    .fa:not(.fa-caret-down) {
      font-size: 16px;
    }
  }

}

@media (min-width: map-get($grid-breakpoints, lg)) {

  .#{$namespace}-nav {
    display: flex;
  }

  .#{$namespace}-nav__item {
    display: inline-block;
    border: none;

    .#{$namespace}-nav--primary & {
      border-bottom: none;
    }
  }

  .#{$namespace}-nav__link {
    font-size: 14px;

    .#{$namespace}-nav--primary & {
      height: $cd-site-header-height-md;

      &:hover, &:focus {
        text-decoration: none;
      }

      &:before {
        content: "";
        top: 50%;
        margin-top: -$cd-base-unit*.75;
        background: $cd-primary-color;
      }

      .no-flexbox & {
        height: auto;
        display: block;
        padding-top: $cd-base-unit*2;
        padding-bottom: $cd-base-unit*2;
      }
    }
  }

}

@media (min-width: map-get($grid-breakpoints, xl)) {

  .#{$namespace}-nav__link {
    padding: 0 $cd-base-unit*2;
    font-size: 16px;

    .#{$namespace}-nav--primary & {
      padding: 0 $cd-base-unit*2;
    }
  }

}
