@if $cd-fixed-width == true {
  .#{$namespace}-nav {
    display: flex;
  }
}

.#{$namespace}-nav--secondary {
  display: flex;
}

.#{$namespace}-nav__item {
  position: relative;

  .#{$namespace}-dropdown-menu {
    left: auto;
    right: 0;

    @if $cd-fixed-width == false {
      min-width: 120px;
    }
  }

  .#{$namespace}-dropdown-menu--small {
    min-width: 100%;
  }

  .#{$namespace}-nav--primary & {
    text-transform: uppercase;

    @if $cd-fixed-width == true {
      display: inline-block;
    }

    .no-mediaqueries & {
      display: inline-block;
    }
  }

  .#{$namespace}-nav--secondary & {
    display: inline-block;
  }

  &:last-child {
    .#{$namespace}-nav__link {
      &:before {
        content: none;
      }
    }
  }
}

.#{$namespace}-nav__link {
  display: block;
  line-height: 1;
  padding: 0 $cd-base-unit;
  text-decoration: none;
  position: relative;
  font-size: $cd-base-font-size;

  &:before {
    content: "";
    display: inline-block;
    width: 1px;
    position: absolute;
    right: -1px;
    top: 2px;
    height: $cd-base-unit*1.5;
    z-index: 1;
  }

  .icon-arrow-down {
    font-size: 14px;
    line-height: 1.5;
  }

  .#{$namespace}-nav--primary & {
    color: $cd-primary-color;
    height: $cd-base-unit*6;
    align-items: center;
    border-bottom: none;

    @if $modernizr == true {
      display: flex;
    }

    &:before {
      @if $cd-fixed-width == false {
        content: none;
      } @else {
        top: 50%;
        margin-top: -$cd-base-unit*.75;
        background: $cd-primary-color;
      }
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      border-bottom: 2px solid transparent;
      transition: border-color 0.3s ease;
    }

    &:hover, &:focus {
      background: $cd-nav-focus-bg;
      outline: none;

      &:after {
        border-color: $cd-highlight-color;
      }
    }

    @if $cd-fixed-width == true {
      display: block;
      height: $cd-site-header-height-md;
      padding-top: $cd-base-unit*3;
      padding-bottom: $cd-base-unit*2;
    }

    .no-mediaqueries & {
      height: $cd-site-header-height-md;
      padding-top: $cd-base-unit*2;
      padding-bottom: $cd-base-unit*2;
    }

  }

  .#{$namespace}-active & {
    font-weight: bold;

    &:after {
      border-color: $cd-highlight-color
    }
  }

  .#{$namespace}-nav--secondary & {
    color: $cd-text-light;
    height: $cd-global-header-height;
    padding: $cd-base-unit*1.5 $cd-base-unit;

    &:before {
      background: $cd-text-light;
      top: 14px;
    }

    &:hover, &:focus {
      outline: none;
      background: darken($cd-primary-color, 10%);
    }
  }

}

@if $cd-fixed-width == false {

  .#{$namespace}-nav__label:not(.#{$namespace}-nav__label--mobile) {
    @extend .#{$namespace}-sr-only;
  }

  @media (min-width: map-get($grid-breakpoints, md)) {

    .#{$namespace}-nav--secondary {
      .no-flexbox & {
        float: right;
      }
    }

    .#{$namespace}-nav__item {
      .#{$namespace}-dropdown-menu {
        min-width: 0;
      }
    }

    .#{$namespace}-nav__label {
      font-size: $cd-base-font-size;
    }

    .#{$namespace}-nav__label:not(.#{$namespace}-nav__label--mobile)  {
      position: relative;
      height: auto;
      width: auto;
      clip: auto;
      margin: 0 0 0 $cd-base-unit;
    }

  }

  @media (min-width: map-get($grid-breakpoints, lg)) {

    .#{$namespace}-nav {
      display: flex;
    }

    .#{$namespace}-nav__item {
      display: inline-block;
      border: none;

      .#{$namespace}-nav--primary & {
        border-bottom: none;
      }
    }

    .#{$namespace}-nav__link {
      font-size: $cd-small-font-size;

      .#{$namespace}-nav--primary & {
        height: $cd-site-header-height-md;

        &:hover, &:focus {
          text-decoration: none;
          color: $cd-primary-color;
        }

        &:before {
          content: "";
          top: 50%;
          margin-top: -$cd-base-unit*.75;
          background: $cd-primary-color;
        }

        .no-flexbox & {
          height: auto;
          display: block;
          padding-top: $cd-base-unit*2;
          padding-bottom: $cd-base-unit*2;
        }
      }
    }

  }

  @media (min-width: map-get($grid-breakpoints, xl)) {

    .#{$namespace}-nav__link {
      padding: 0 $cd-base-unit*2;
      font-size: $cd-base-font-size;

      .#{$namespace}-nav--primary & {
        @if $modernizr == false {
          padding: $cd-base-unit*3 $cd-base-unit*2 0 $cd-base-unit*2;
        } @else {
          padding: 0 $cd-base-unit*2;
        }
      }

      .#{$namespace}-nav--secondary & {
        padding: $cd-base-unit*1.5 $cd-base-unit*2;
      }
    }

  }
}
