.cd-global-header {
  background: $cd-primary-color;
  color: $cd-text-light;

  .dropdown-menu {
    top: 30px;
  }
}

.cd-global-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding-top: $cd-base-unit;
  // padding-bottom: $cd-base-unit;
  height: $cd-global-header-height;

  .no-flexbox & {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

.cd-global-header__sites {
  flex-grow: 1;
  position: relative;

  .cd-dropdown-menu {
      width: 200px;
  //   left: 0;
  //   right: auto;
  //   top: 34px;
  //   width: $cd-base-unit*20;
  }

  .no-flexbox & {
    float: left;
  }
}

.cd-global-header__sites-btn {
  color: $cd-text-light;
  text-transform: uppercase;
  text-align: left;
  padding: 0;
  font-size: 10px;
  height: $cd-global-header-height;

  &:focus {
    box-shadow: none;
    background: darken($cd-primary-color, 10%);
    outline: none;
  }
}

.cd-global-header__nav {
  .no-flexbox & {
    float: right;
  }
}

@media (min-width: map-get($grid-breakpoints, sm)) {

  .cd-global-header__sites-btn {
    font-size: 14px
  }

}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .cd-global-header__sites-btn {
    padding-left: $cd-base-unit*1.5;
    padding-right: $cd-base-unit*1.5;
  }
}
