$namespace: 'cd' !default;
$modernizr: true !default;

$cd-base-unit: 8px !default;
$cd-global-header-height: $cd-base-unit*5 !default;
$cd-site-header-height-xs: $cd-base-unit*6 !default;
$cd-site-header-height-md: $cd-base-unit*7.5 !default;
$cd-max-width: 1400px !default;
$cd-logo-width: $cd-base-unit*30 !default;

$cd-primary-color: #5C6FA6 !default;
$cd-highlight-color: lighten($cd-primary-color,15%) !default;
$cd-light-color: #f8fcfd !default;
$cd-text-dark: #767676 !default;
$cd-text-light: white !default;
$cd-border-color: #CFD1D2 !default;
$cd-nav-focus-bg: #F6F6F6 !default;

$cd-font: helvetica, arial, sans-serif !default;

$cd-tiny-font-size: 10px !default;
$cd-small-font-size: 14px !default;
$cd-base-font-size: 16px !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

.#{$namespace}-header {
  font-family: $cd-font;

  @if $cd-fixed-width == true {
    min-width: $cd-max-width;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    border-radius: none;
    box-shadow: none;
    cursor: pointer;
  }

  ul, li {
    list-style: none;
  }

  ::-webkit-input-placeholder {
    color: $cd-text-dark;
    font-style: italic;
  }
  ::-moz-placeholder {
    color: $cd-text-dark;
    font-style: italic;
  }
  :-ms-input-placeholder {
    color: $cd-text-dark;
    font-style: italic;
  }
  :-moz-placeholder {
    color: $cd-text-dark;
    font-style: italic;
  }
}

.#{$namespace}-container {
  padding-left: $cd-base-unit;
  padding-right: $cd-base-unit;
  width: 100%;
  max-width: $cd-max-width;
  margin: 0 auto;

  @if $cd-fixed-width == true {
    width: $cd-max-width;
  }
}

.#{$namespace}-dropdown {
  position: relative;
}

.#{$namespace}-dropdown-menu {
  position: absolute;
  z-index: 99;
  background: white;
  width: 100%;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.25);
  display: none;

  &[aria-hidden="false"] {
    display: block;
  }

  a {
    display: block;
    padding: $cd-base-unit*1.5;
    border-bottom: 1px solid $cd-border-color;
    text-decoration: none;
    color: $cd-text-dark;
    word-break: break-word;

    &:hover, &:focus {
      background: $cd-nav-focus-bg;
    }

    &:focus {
      text-decoration: underline;
    }
  }
}

.#{$namespace}-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@if $cd-fixed-width == false {

  @media (min-width: map-get($grid-breakpoints, sm)) {
    .#{$namespace}-container {
      padding-left: $cd-base-unit*2;
      padding-right: $cd-base-unit*2;
    }
  }

  @media (min-width: map-get($grid-breakpoints, xl)) {
    .#{$namespace}-container {
      padding-left: $cd-base-unit*5;
      padding-right: $cd-base-unit*5;
    }
  }

}

@import "header/cd-global-header",
        "header/cd-site-header",
        "header/cd-nav";
