/**
 * Common Design Navigation in header.
 */

.cd-site-header__nav-holder {
  float: left;
}

.cd-site-header__nav-toggle {
  background: transparent;
  border: 0;
  border-left: 1px solid $cd-border-color;
  border-right: 1px solid $cd-border-color;
  font-size: map-get($cd-font-sizes, medium);
  font-weight: bold;
  color: $cd-default-text-color;
  height: $cd-site-header-height;
  padding: 0 20px;
  text-transform: uppercase;
  transition: background 0.3s ease;

  .icon-arrow-down {
    margin-left: 2px;
    color: $cd-highlight-red;
  }

  .open & {
    position: relative;
    z-index: 101;
    color: $cd-dark-text-color;

    &:after {
      bottom: -3px;
      content: '';
      background: $cd-highlight-red;
      height: 3px;
      left: -1px;
      position: absolute;
      right: -1px;
      transition: background 0.3s ease;
      width: calc(100% + 1px);
    }

    &:focus {
      background: $cd-white-bg-color;
    }
  }

  &:hover,
  &:focus {
    color: $cd-dark-text-color;
    background: $cd-mid-bg-color;
    outline: none; // default browser outline is replaced by background colour change.
  }
}

.cd-nav {
  background: $cd-white-bg-color;
  height: calc(100vh - (#{$cd-global-header-height} + #{$cd-site-header-height} + 3px));
  padding: 20px 0 36px 0;
  position: absolute;
  right: 0;
  left: 0;
  top: calc(#{$cd-global-header-height} + #{$cd-site-header-height} + 3px);
  width: 100vw;
  z-index: 100; // arbitrary high zindex, may need adjusting depending on other site content.

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a,
  button {
    color: $cd-default-text-color;
    display: block;
    padding: 15px 30px;
    text-decoration: none;

    &:hover,
    &:focus {
      background: $cd-mid-bg-color;
      color: $cd-dark-text-color;
      outline: none; // default browser outline is replaced by background colour change.
    }
  }

  button {
    background: none;
    border: 0;
    font-size: map-get($cd-font-sizes, default);
    text-align: left;
    width: 100%;
  }
}

.cd-nav__item {
  &.open {
    background: $cd-white-bg-color;

    & > button {
      color: $cd-dark-text-color;

      &:hover,
      &:focus {
        background: $cd-mid-bg-color;
      }
    }
  }

  & > a,
  & > button {
    font-weight: bold;
    text-transform: uppercase;
    &:after {
      background: $cd-highlight-red;
    }
  }

  .icon-arrow-down {
    margin-left: 2px;
    color: $cd-highlight-red;
  }
}

ul.cd-nav__child-nav {
  background: $cd-white-bg-color;

  a,
  button {
    color: $cd-dark-text-color;
    font-weight: 600;

    &:hover {
      background: $cd-mid-bg-color;
    }
  }
}

ul.cd-nav__grandchild-nav {
  padding-bottom: 5px;
  a,
  button {
    font-weight: 200;
  }
}

.cd-nav__grandchild-item {
  a,
  button {
    padding: 10px 30px;
  }
}

// Fix nav position in IE 8.
.no-mediaqueries {
  .cd-site-header__nav-holder {
    position: relative;
  }

  .cd-nav {
    right: 0;
    top: $cd-site-header-height;
    width: 300px;
  }
}

@media (min-width: map-get($cd-breakpoints, tablet)) {

  .cd-site-header__nav-toggle {
    border-right: 1px solid $cd-border-color;

    .open & {
      margin-right: 0;
    }
  }
}

@media (min-width: map-get($cd-breakpoints, desktop)) {

  .cd-site-header__nav-toggle {
    display: none;
  }

  .cd-nav {
    background: none;
    display: block;
    height: $cd-site-header-height;
    max-width: none;
    padding: 0;
    position: relative;
    right: auto;
    top: auto;
    width: auto;
    z-index: 0;
  }

  .cd-nav__item {
    border-right: 1px solid $cd-border-color;
    float: left;
    margin: 0;

    &:first-child {
      border-left: 1px solid $cd-border-color;
    }

    &:last-child {
      ul.cd-nav__child-nav {
        left: auto;
        right: -1px;
      }
    }

    &.open {
      position: relative;

      & > button {

        &:after {
          background: $cd-highlight-red;
        }

        &:hover {
          background: $cd-mid-bg-color;
        }

        &:focus {
          &:after {
            background: $cd-highlight-red;
          }
        }
      }
    }

    &.active {
      & > a,
      & > button {
        &:after {
          background: $cd-highlight-red;
        }
      }
    }

    & > a,
    & > button {
      align-items: center;
      background: transparent;
      display: flex;
      height: $cd-site-header-height;
      line-height: $cd-site-header-height;
      padding: 0 14px;
      position: relative;
      transition: background 0.3s ease;

      &:after {
        bottom: -3px;
        content: '';
        background: transparent;
        height: 3px;
        left: -1px;
        position: absolute;
        right: -1px;
        transition: background 0.3s ease;
        width: calc(100% + 2px);
      }

      &:hover {
        background: $cd-mid-bg-color;
      }

      &:focus {
        background: $cd-white-bg-color;
      }

      .active &,
      &:focus {
        &:after {
          background: $cd-highlight-red;
        }
      }
    }
  }

  ul.cd-nav__child-nav {
    background: $cd-white-bg-color;
    box-shadow: 0 1px 8px rgba($cd-dark-bluey-grey, 0.8);
    left: -1px;
    margin: 0;
    max-width: 300px;
    min-width: 200px;
    padding: 20px 0;
    top: calc(#{$cd-site-header-height} + 3px); // border-bottom height
    position: absolute;

    a,
    button {
      &:hover {
        background: $cd-mid-bg-color;
      }
    }
  }

  .cd-nav__child-item {
    &.open {
      background: $cd-white-bg-color;
    }
  }

  ul.cd-nav__grandchild-nav {
    padding-bottom: 0;

    a {
      &:hover,
      &:focus {
        background: $cd-mid-bg-color;
      }
    }
  }
}
