/**
 * Common Design Header Layout and generic styles.
 */

/**
 * Global Header.
 * Top header bar, contains Sites Menu ('OCHA Services') and User Menu.
 */
.cd-global-header {
  background: $cd-primary-bg-color;
  background-image: linear-gradient(-180deg, $cd-primary-bg-color 67%, $cd-dark-primary-bg-color 97%);
  color: $cd-white-text-color;
  height: $cd-global-header-height;
  position: relative;

  button {
    border: 0;
  }
}

/**
 * Site Header.
 * Bottom header bar, contains Logo, Search and Navigation.
 */
.cd-site-header {
  border-bottom: 3px solid $cd-border-color;
  color: $cd-default-text-color;
}

.cd-site-header__inner {
  height: $cd-site-header-height;
}

.cd-site-header__actions {
  float: right;
}
