/**
 * Common Design Search form in header.
 */



.cd-search--inline {
  float: left;
  border-left: 1px solid $cd-border-color;

  .cd-search--inline__form {
    background: $cd-white-bg-color;
    display: block;
    position: relative;
  }

  .cd-search--inline__form-inner {
    &::before {
      bottom: -3px;
      content: '';
      background: transparent;
      height: 3px;
      left: -1px;
      position: absolute;
      right: -1px;
      transition: background 0.3s ease;
      width: calc(100% + 1px);
    }
  }

  .cd-search--inline__form-inner.js-has-focus {
    &::before {
      background: $cd-highlight-red;
    }
  }

  .cd-search--inline__input {
    -webkit-appearance: none;
    background: $cd-white-bg-color;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: $cd-default-text-color;
    font-size: map-get($cd-font-sizes, default);
    height: $cd-site-header-height;
    padding: 0 56px 0 16px;
  }

  .cd-search--inline__input::-webkit-input-placeholder {
    color: $cd-mid-grey;
    font-style: italic;
  }
  .cd-search--inline__input::-moz-placeholder {
    color: $cd-mid-grey;
    font-style: italic;
  }
  .cd-search--inline__input:-ms-input-placeholder {
    color: $cd-mid-grey;
    font-style: italic;
  }
  .cd-search--inline__input:-moz-placeholder {
    color: $cd-mid-grey;
    font-style: italic;
  }

  .cd-search--inline__submit {
    align-items: center;
    background: $cd-white-bg-color;
    border: 0;
    color: $cd-dark-text-color;
    display: flex;
    font-size: map-get($cd-font-sizes, large);
    font-weight: bold;
    height: $cd-site-header-height;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s ease;

    &::before {
      content: '';
      background: $cd-mid-bluey-grey;
      width: 2px;
      height: 24px;
      position: absolute;
    }

    .icon-search {
      font-size: 24px;
      font-weight: bold;
      padding: 0 16px;
      color: $cd-mid-grey;
    }

    &.js-has-focus,
    &:hover,
    &:focus {
      background-color: $cd-mid-bluey-grey;

      .icon-search {
        color: $cd-highlight-red;
      }
    }

  }
}
