* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  &:before, &:after {
    box-sizing: border-box;
  }
}

html, body {
  height: 100%;
}

html, input {
  // Font size should be set at the correct percentage to match the base-font-size
  // 16px = 100%
  // 18px = 112.5%
  // See http://pxtoem.com/ for conversion chart
  font-size: 87.5%;
}

body {
  font-family: $body-font;
  @include font-size($base-font-size);
  color: $body-text-color;
  line-height: 1.5;
  background: white;
}

h1, h2 ,h3 ,h4 ,h5 {
  line-height: 1.2;
  font-weight: bold;
}

h1 {
  color: $heading-text-color;
  @include font-size($medium-font-size);
  text-transform: uppercase;
}

h1, h2 ,h3 ,h4 ,h5, p, ol, ul {
  margin-bottom: $base-unit;
}

a {
  color: $link-text-color;

  &:hover, &:focus {
    color: $active-link-text-color;
    text-decoration: none;
  }
}

ol, ul {
  list-style: initial;
  margin-left: $base-unit*3;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
}

@include media-query(md) {
  h1 {
    @include font-size($large-font-size);
  }

  h2 {
    @include font-size($medium-font-size);
  }

  h1, h2 ,h3 ,h4 ,h5, p, ol, ul {
    margin-bottom: $base-unit*2;
  }
}
