// Colour palette
$primary-color: #007ac0;
$secondary-color: #0d6084;
$light-grey: #ecf1f4;
$mid-grey: #ddd;
$dark-grey: #232323;
$red: #e85c41;

// Background colors
$light-bg-color: $light-grey;
$primary-bg-color: $primary-color;
$secondary-bg-color: $secondary-color;

// Border colours
$border-color: $mid-grey;
$highlight-border-color: $secondary-color;
$error-border-color: $red;

// Text colours
$body-text-color: $dark-grey;
$heading-text-color: $primary-color;
$secondary-heading-text-color: $secondary-color;
$light-text-color: white;
$link-text-color: $secondary-color;
$active-link-text-color: $primary-color;
$error-text-color: $red;
