<footer role="contentinfo" class="cd-footer">
  <div class="cd-container cd-footer__inner">

    <div class="cd-footer-provided-by cd-footer__section">
      <span>Service provided by</span>
      <span class="cd-footer-provided-by__logo">
        <span class="cd-sr-only">UN-OCHA</span>
      </span>
    </div>

    <div class="cd-footer-copyright cd-footer__section">
      <div class="cd-footer-copyright__message">
        <span class="cd-footer-copyright__text">© United Nations Office for the Coordination of Humanitarian Affairs</span>
      </div>
    </div>

  </div>
</footer>
