* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }
  *:before, *:after {
    box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 300;
  color: #595959;
  line-height: 1.5; }

h1, h2, h3, h4, h5 {
  font-family: "Open Sans",helvetica,arial,sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 0; }

a {
  color: #002d80; }

strong {
  font-weight: 400; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

img {
  max-width: 100%; }

/* Needed for HID */
@font-face {
  font-family: 'exo_2regular';
  src: url("../assets/fonts/exo/Exo2-Regular-webfont.eot");
  src: url("../assets/fonts/exo/Exo2-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/exo/Exo2-Regular-webfont.woff") format("woff"), url("../assets/fonts/exo/Exo2-Regular-webfont.ttf") format("truetype"), url("../assets/fonts/exo/Exo2-Regular-webfont.svg#exo_2regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'exo_2semi_bold';
  src: url("../assets/fonts/exo/Exo2-SemiBold-webfont.eot");
  src: url("../assets/fonts/exo/Exo2-SemiBold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/exo/Exo2-SemiBold-webfont.woff") format("woff"), url("../assets/fonts/exo/Exo2-SemiBold-webfont.ttf") format("truetype"), url("../assets/fonts/exo/Exo2-SemiBold-webfont.svg#exo_2semi_bold") format("svg");
  font-weight: normal;
  font-style: normal; }

.styleguide .row {
  margin-right: -16px;
  margin-left: -16px; }
  .styleguide .row:after {
    content: "";
    display: table;
    clear: both; }

.styleguide .col-xs, .styleguide .col-xs-1, .styleguide .col-xs-2, .styleguide .col-xs-3, .styleguide .col-xs-4, .styleguide .col-xs-5, .styleguide .col-xs-6, .styleguide .col-xs-7, .styleguide .col-xs-8, .styleguide .col-xs-9, .styleguide .col-xs-10, .styleguide .col-xs-11, .styleguide .col-xs-12, .styleguide .col-sm, .styleguide .col-sm-1, .styleguide .col-sm-2, .styleguide .col-sm-3, .styleguide .col-sm-4, .styleguide .col-sm-5, .styleguide .col-sm-6, .styleguide .col-sm-7, .styleguide .col-sm-8, .styleguide .col-sm-9, .styleguide .col-sm-10, .styleguide .col-sm-11, .styleguide .col-sm-12, .styleguide .col-md, .styleguide .col-md-1, .styleguide .col-md-2, .styleguide .col-md-3, .styleguide .col-md-4, .styleguide .col-md-5, .styleguide .col-md-6, .styleguide .col-md-7, .styleguide .col-md-8, .styleguide .col-md-9, .styleguide .col-md-10, .styleguide .col-md-11, .styleguide .col-md-12, .styleguide .col-lg, .styleguide .col-lg-1, .styleguide .col-lg-2, .styleguide .col-lg-3, .styleguide .col-lg-4, .styleguide .col-lg-5, .styleguide .col-lg-6, .styleguide .col-lg-7, .styleguide .col-lg-8, .styleguide .col-lg-9, .styleguide .col-lg-10, .styleguide .col-lg-11, .styleguide .col-lg-12, .styleguide .col-xl, .styleguide .col-xl-1, .styleguide .col-xl-2, .styleguide .col-xl-3, .styleguide .col-xl-4, .styleguide .col-xl-5, .styleguide .col-xl-6, .styleguide .col-xl-7, .styleguide .col-xl-8, .styleguide .col-xl-9, .styleguide .col-xl-10, .styleguide .col-xl-11, .styleguide .col-xl-12, .styleguide .col-xxl, .styleguide .col-xxl-1, .styleguide .col-xxl-2, .styleguide .col-xxl-3, .styleguide .col-xxl-4, .styleguide .col-xxl-5, .styleguide .col-xxl-6, .styleguide .col-xxl-7, .styleguide .col-xxl-8, .styleguide .col-xxl-9, .styleguide .col-xxl-10, .styleguide .col-xxl-11, .styleguide .col-xxl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 16px;
  padding-right: 16px; }

@media (min-width: 0) {
  .styleguide .col-xs-1 {
    float: left;
    width: 8.3333333333%; }
  .styleguide .col-xs-2 {
    float: left;
    width: 16.6666666667%; }
  .styleguide .col-xs-3 {
    float: left;
    width: 25%; }
  .styleguide .col-xs-4 {
    float: left;
    width: 33.3333333333%; }
  .styleguide .col-xs-5 {
    float: left;
    width: 41.6666666667%; }
  .styleguide .col-xs-6 {
    float: left;
    width: 50%; }
  .styleguide .col-xs-7 {
    float: left;
    width: 58.3333333333%; }
  .styleguide .col-xs-8 {
    float: left;
    width: 66.6666666667%; }
  .styleguide .col-xs-9 {
    float: left;
    width: 75%; }
  .styleguide .col-xs-10 {
    float: left;
    width: 83.3333333333%; }
  .styleguide .col-xs-11 {
    float: left;
    width: 91.6666666667%; }
  .styleguide .col-xs-12 {
    float: left;
    width: 100%; }
  .styleguide .pull-xs-0 {
    right: auto; }
  .styleguide .pull-xs-1 {
    right: 8.3333333333%; }
  .styleguide .pull-xs-2 {
    right: 16.6666666667%; }
  .styleguide .pull-xs-3 {
    right: 25%; }
  .styleguide .pull-xs-4 {
    right: 33.3333333333%; }
  .styleguide .pull-xs-5 {
    right: 41.6666666667%; }
  .styleguide .pull-xs-6 {
    right: 50%; }
  .styleguide .pull-xs-7 {
    right: 58.3333333333%; }
  .styleguide .pull-xs-8 {
    right: 66.6666666667%; }
  .styleguide .pull-xs-9 {
    right: 75%; }
  .styleguide .pull-xs-10 {
    right: 83.3333333333%; }
  .styleguide .pull-xs-11 {
    right: 91.6666666667%; }
  .styleguide .pull-xs-12 {
    right: 100%; }
  .styleguide .push-xs-0 {
    left: auto; }
  .styleguide .push-xs-1 {
    left: 8.3333333333%; }
  .styleguide .push-xs-2 {
    left: 16.6666666667%; }
  .styleguide .push-xs-3 {
    left: 25%; }
  .styleguide .push-xs-4 {
    left: 33.3333333333%; }
  .styleguide .push-xs-5 {
    left: 41.6666666667%; }
  .styleguide .push-xs-6 {
    left: 50%; }
  .styleguide .push-xs-7 {
    left: 58.3333333333%; }
  .styleguide .push-xs-8 {
    left: 66.6666666667%; }
  .styleguide .push-xs-9 {
    left: 75%; }
  .styleguide .push-xs-10 {
    left: 83.3333333333%; }
  .styleguide .push-xs-11 {
    left: 91.6666666667%; }
  .styleguide .push-xs-12 {
    left: 100%; }
  .styleguide .offset-xs-1 {
    margin-left: 8.3333333333%; }
  .styleguide .offset-xs-2 {
    margin-left: 16.6666666667%; }
  .styleguide .offset-xs-3 {
    margin-left: 25%; }
  .styleguide .offset-xs-4 {
    margin-left: 33.3333333333%; }
  .styleguide .offset-xs-5 {
    margin-left: 41.6666666667%; }
  .styleguide .offset-xs-6 {
    margin-left: 50%; }
  .styleguide .offset-xs-7 {
    margin-left: 58.3333333333%; }
  .styleguide .offset-xs-8 {
    margin-left: 66.6666666667%; }
  .styleguide .offset-xs-9 {
    margin-left: 75%; }
  .styleguide .offset-xs-10 {
    margin-left: 83.3333333333%; }
  .styleguide .offset-xs-11 {
    margin-left: 91.6666666667%; } }

@media (min-width: 576px) {
  .styleguide .col-sm-1 {
    float: left;
    width: 8.3333333333%; }
  .styleguide .col-sm-2 {
    float: left;
    width: 16.6666666667%; }
  .styleguide .col-sm-3 {
    float: left;
    width: 25%; }
  .styleguide .col-sm-4 {
    float: left;
    width: 33.3333333333%; }
  .styleguide .col-sm-5 {
    float: left;
    width: 41.6666666667%; }
  .styleguide .col-sm-6 {
    float: left;
    width: 50%; }
  .styleguide .col-sm-7 {
    float: left;
    width: 58.3333333333%; }
  .styleguide .col-sm-8 {
    float: left;
    width: 66.6666666667%; }
  .styleguide .col-sm-9 {
    float: left;
    width: 75%; }
  .styleguide .col-sm-10 {
    float: left;
    width: 83.3333333333%; }
  .styleguide .col-sm-11 {
    float: left;
    width: 91.6666666667%; }
  .styleguide .col-sm-12 {
    float: left;
    width: 100%; }
  .styleguide .pull-sm-0 {
    right: auto; }
  .styleguide .pull-sm-1 {
    right: 8.3333333333%; }
  .styleguide .pull-sm-2 {
    right: 16.6666666667%; }
  .styleguide .pull-sm-3 {
    right: 25%; }
  .styleguide .pull-sm-4 {
    right: 33.3333333333%; }
  .styleguide .pull-sm-5 {
    right: 41.6666666667%; }
  .styleguide .pull-sm-6 {
    right: 50%; }
  .styleguide .pull-sm-7 {
    right: 58.3333333333%; }
  .styleguide .pull-sm-8 {
    right: 66.6666666667%; }
  .styleguide .pull-sm-9 {
    right: 75%; }
  .styleguide .pull-sm-10 {
    right: 83.3333333333%; }
  .styleguide .pull-sm-11 {
    right: 91.6666666667%; }
  .styleguide .pull-sm-12 {
    right: 100%; }
  .styleguide .push-sm-0 {
    left: auto; }
  .styleguide .push-sm-1 {
    left: 8.3333333333%; }
  .styleguide .push-sm-2 {
    left: 16.6666666667%; }
  .styleguide .push-sm-3 {
    left: 25%; }
  .styleguide .push-sm-4 {
    left: 33.3333333333%; }
  .styleguide .push-sm-5 {
    left: 41.6666666667%; }
  .styleguide .push-sm-6 {
    left: 50%; }
  .styleguide .push-sm-7 {
    left: 58.3333333333%; }
  .styleguide .push-sm-8 {
    left: 66.6666666667%; }
  .styleguide .push-sm-9 {
    left: 75%; }
  .styleguide .push-sm-10 {
    left: 83.3333333333%; }
  .styleguide .push-sm-11 {
    left: 91.6666666667%; }
  .styleguide .push-sm-12 {
    left: 100%; }
  .styleguide .offset-sm-0 {
    margin-left: 0%; }
  .styleguide .offset-sm-1 {
    margin-left: 8.3333333333%; }
  .styleguide .offset-sm-2 {
    margin-left: 16.6666666667%; }
  .styleguide .offset-sm-3 {
    margin-left: 25%; }
  .styleguide .offset-sm-4 {
    margin-left: 33.3333333333%; }
  .styleguide .offset-sm-5 {
    margin-left: 41.6666666667%; }
  .styleguide .offset-sm-6 {
    margin-left: 50%; }
  .styleguide .offset-sm-7 {
    margin-left: 58.3333333333%; }
  .styleguide .offset-sm-8 {
    margin-left: 66.6666666667%; }
  .styleguide .offset-sm-9 {
    margin-left: 75%; }
  .styleguide .offset-sm-10 {
    margin-left: 83.3333333333%; }
  .styleguide .offset-sm-11 {
    margin-left: 91.6666666667%; } }

@media (min-width: 768px) {
  .styleguide .col-md-1 {
    float: left;
    width: 8.3333333333%; }
  .styleguide .col-md-2 {
    float: left;
    width: 16.6666666667%; }
  .styleguide .col-md-3 {
    float: left;
    width: 25%; }
  .styleguide .col-md-4 {
    float: left;
    width: 33.3333333333%; }
  .styleguide .col-md-5 {
    float: left;
    width: 41.6666666667%; }
  .styleguide .col-md-6 {
    float: left;
    width: 50%; }
  .styleguide .col-md-7 {
    float: left;
    width: 58.3333333333%; }
  .styleguide .col-md-8 {
    float: left;
    width: 66.6666666667%; }
  .styleguide .col-md-9 {
    float: left;
    width: 75%; }
  .styleguide .col-md-10 {
    float: left;
    width: 83.3333333333%; }
  .styleguide .col-md-11 {
    float: left;
    width: 91.6666666667%; }
  .styleguide .col-md-12 {
    float: left;
    width: 100%; }
  .styleguide .pull-md-0 {
    right: auto; }
  .styleguide .pull-md-1 {
    right: 8.3333333333%; }
  .styleguide .pull-md-2 {
    right: 16.6666666667%; }
  .styleguide .pull-md-3 {
    right: 25%; }
  .styleguide .pull-md-4 {
    right: 33.3333333333%; }
  .styleguide .pull-md-5 {
    right: 41.6666666667%; }
  .styleguide .pull-md-6 {
    right: 50%; }
  .styleguide .pull-md-7 {
    right: 58.3333333333%; }
  .styleguide .pull-md-8 {
    right: 66.6666666667%; }
  .styleguide .pull-md-9 {
    right: 75%; }
  .styleguide .pull-md-10 {
    right: 83.3333333333%; }
  .styleguide .pull-md-11 {
    right: 91.6666666667%; }
  .styleguide .pull-md-12 {
    right: 100%; }
  .styleguide .push-md-0 {
    left: auto; }
  .styleguide .push-md-1 {
    left: 8.3333333333%; }
  .styleguide .push-md-2 {
    left: 16.6666666667%; }
  .styleguide .push-md-3 {
    left: 25%; }
  .styleguide .push-md-4 {
    left: 33.3333333333%; }
  .styleguide .push-md-5 {
    left: 41.6666666667%; }
  .styleguide .push-md-6 {
    left: 50%; }
  .styleguide .push-md-7 {
    left: 58.3333333333%; }
  .styleguide .push-md-8 {
    left: 66.6666666667%; }
  .styleguide .push-md-9 {
    left: 75%; }
  .styleguide .push-md-10 {
    left: 83.3333333333%; }
  .styleguide .push-md-11 {
    left: 91.6666666667%; }
  .styleguide .push-md-12 {
    left: 100%; }
  .styleguide .offset-md-0 {
    margin-left: 0%; }
  .styleguide .offset-md-1 {
    margin-left: 8.3333333333%; }
  .styleguide .offset-md-2 {
    margin-left: 16.6666666667%; }
  .styleguide .offset-md-3 {
    margin-left: 25%; }
  .styleguide .offset-md-4 {
    margin-left: 33.3333333333%; }
  .styleguide .offset-md-5 {
    margin-left: 41.6666666667%; }
  .styleguide .offset-md-6 {
    margin-left: 50%; }
  .styleguide .offset-md-7 {
    margin-left: 58.3333333333%; }
  .styleguide .offset-md-8 {
    margin-left: 66.6666666667%; }
  .styleguide .offset-md-9 {
    margin-left: 75%; }
  .styleguide .offset-md-10 {
    margin-left: 83.3333333333%; }
  .styleguide .offset-md-11 {
    margin-left: 91.6666666667%; } }

@media (min-width: 1025px) {
  .styleguide .col-lg-1 {
    float: left;
    width: 8.3333333333%; }
  .styleguide .col-lg-2 {
    float: left;
    width: 16.6666666667%; }
  .styleguide .col-lg-3 {
    float: left;
    width: 25%; }
  .styleguide .col-lg-4 {
    float: left;
    width: 33.3333333333%; }
  .styleguide .col-lg-5 {
    float: left;
    width: 41.6666666667%; }
  .styleguide .col-lg-6 {
    float: left;
    width: 50%; }
  .styleguide .col-lg-7 {
    float: left;
    width: 58.3333333333%; }
  .styleguide .col-lg-8 {
    float: left;
    width: 66.6666666667%; }
  .styleguide .col-lg-9 {
    float: left;
    width: 75%; }
  .styleguide .col-lg-10 {
    float: left;
    width: 83.3333333333%; }
  .styleguide .col-lg-11 {
    float: left;
    width: 91.6666666667%; }
  .styleguide .col-lg-12 {
    float: left;
    width: 100%; }
  .styleguide .pull-lg-0 {
    right: auto; }
  .styleguide .pull-lg-1 {
    right: 8.3333333333%; }
  .styleguide .pull-lg-2 {
    right: 16.6666666667%; }
  .styleguide .pull-lg-3 {
    right: 25%; }
  .styleguide .pull-lg-4 {
    right: 33.3333333333%; }
  .styleguide .pull-lg-5 {
    right: 41.6666666667%; }
  .styleguide .pull-lg-6 {
    right: 50%; }
  .styleguide .pull-lg-7 {
    right: 58.3333333333%; }
  .styleguide .pull-lg-8 {
    right: 66.6666666667%; }
  .styleguide .pull-lg-9 {
    right: 75%; }
  .styleguide .pull-lg-10 {
    right: 83.3333333333%; }
  .styleguide .pull-lg-11 {
    right: 91.6666666667%; }
  .styleguide .pull-lg-12 {
    right: 100%; }
  .styleguide .push-lg-0 {
    left: auto; }
  .styleguide .push-lg-1 {
    left: 8.3333333333%; }
  .styleguide .push-lg-2 {
    left: 16.6666666667%; }
  .styleguide .push-lg-3 {
    left: 25%; }
  .styleguide .push-lg-4 {
    left: 33.3333333333%; }
  .styleguide .push-lg-5 {
    left: 41.6666666667%; }
  .styleguide .push-lg-6 {
    left: 50%; }
  .styleguide .push-lg-7 {
    left: 58.3333333333%; }
  .styleguide .push-lg-8 {
    left: 66.6666666667%; }
  .styleguide .push-lg-9 {
    left: 75%; }
  .styleguide .push-lg-10 {
    left: 83.3333333333%; }
  .styleguide .push-lg-11 {
    left: 91.6666666667%; }
  .styleguide .push-lg-12 {
    left: 100%; }
  .styleguide .offset-lg-0 {
    margin-left: 0%; }
  .styleguide .offset-lg-1 {
    margin-left: 8.3333333333%; }
  .styleguide .offset-lg-2 {
    margin-left: 16.6666666667%; }
  .styleguide .offset-lg-3 {
    margin-left: 25%; }
  .styleguide .offset-lg-4 {
    margin-left: 33.3333333333%; }
  .styleguide .offset-lg-5 {
    margin-left: 41.6666666667%; }
  .styleguide .offset-lg-6 {
    margin-left: 50%; }
  .styleguide .offset-lg-7 {
    margin-left: 58.3333333333%; }
  .styleguide .offset-lg-8 {
    margin-left: 66.6666666667%; }
  .styleguide .offset-lg-9 {
    margin-left: 75%; }
  .styleguide .offset-lg-10 {
    margin-left: 83.3333333333%; }
  .styleguide .offset-lg-11 {
    margin-left: 91.6666666667%; } }

@media (min-width: 1200px) {
  .styleguide .col-xl-1 {
    float: left;
    width: 8.3333333333%; }
  .styleguide .col-xl-2 {
    float: left;
    width: 16.6666666667%; }
  .styleguide .col-xl-3 {
    float: left;
    width: 25%; }
  .styleguide .col-xl-4 {
    float: left;
    width: 33.3333333333%; }
  .styleguide .col-xl-5 {
    float: left;
    width: 41.6666666667%; }
  .styleguide .col-xl-6 {
    float: left;
    width: 50%; }
  .styleguide .col-xl-7 {
    float: left;
    width: 58.3333333333%; }
  .styleguide .col-xl-8 {
    float: left;
    width: 66.6666666667%; }
  .styleguide .col-xl-9 {
    float: left;
    width: 75%; }
  .styleguide .col-xl-10 {
    float: left;
    width: 83.3333333333%; }
  .styleguide .col-xl-11 {
    float: left;
    width: 91.6666666667%; }
  .styleguide .col-xl-12 {
    float: left;
    width: 100%; }
  .styleguide .pull-xl-0 {
    right: auto; }
  .styleguide .pull-xl-1 {
    right: 8.3333333333%; }
  .styleguide .pull-xl-2 {
    right: 16.6666666667%; }
  .styleguide .pull-xl-3 {
    right: 25%; }
  .styleguide .pull-xl-4 {
    right: 33.3333333333%; }
  .styleguide .pull-xl-5 {
    right: 41.6666666667%; }
  .styleguide .pull-xl-6 {
    right: 50%; }
  .styleguide .pull-xl-7 {
    right: 58.3333333333%; }
  .styleguide .pull-xl-8 {
    right: 66.6666666667%; }
  .styleguide .pull-xl-9 {
    right: 75%; }
  .styleguide .pull-xl-10 {
    right: 83.3333333333%; }
  .styleguide .pull-xl-11 {
    right: 91.6666666667%; }
  .styleguide .pull-xl-12 {
    right: 100%; }
  .styleguide .push-xl-0 {
    left: auto; }
  .styleguide .push-xl-1 {
    left: 8.3333333333%; }
  .styleguide .push-xl-2 {
    left: 16.6666666667%; }
  .styleguide .push-xl-3 {
    left: 25%; }
  .styleguide .push-xl-4 {
    left: 33.3333333333%; }
  .styleguide .push-xl-5 {
    left: 41.6666666667%; }
  .styleguide .push-xl-6 {
    left: 50%; }
  .styleguide .push-xl-7 {
    left: 58.3333333333%; }
  .styleguide .push-xl-8 {
    left: 66.6666666667%; }
  .styleguide .push-xl-9 {
    left: 75%; }
  .styleguide .push-xl-10 {
    left: 83.3333333333%; }
  .styleguide .push-xl-11 {
    left: 91.6666666667%; }
  .styleguide .push-xl-12 {
    left: 100%; }
  .styleguide .offset-xl-0 {
    margin-left: 0%; }
  .styleguide .offset-xl-1 {
    margin-left: 8.3333333333%; }
  .styleguide .offset-xl-2 {
    margin-left: 16.6666666667%; }
  .styleguide .offset-xl-3 {
    margin-left: 25%; }
  .styleguide .offset-xl-4 {
    margin-left: 33.3333333333%; }
  .styleguide .offset-xl-5 {
    margin-left: 41.6666666667%; }
  .styleguide .offset-xl-6 {
    margin-left: 50%; }
  .styleguide .offset-xl-7 {
    margin-left: 58.3333333333%; }
  .styleguide .offset-xl-8 {
    margin-left: 66.6666666667%; }
  .styleguide .offset-xl-9 {
    margin-left: 75%; }
  .styleguide .offset-xl-10 {
    margin-left: 83.3333333333%; }
  .styleguide .offset-xl-11 {
    margin-left: 91.6666666667%; } }

@media (min-width: 1400px) {
  .styleguide .col-xxl-1 {
    float: left;
    width: 8.3333333333%; }
  .styleguide .col-xxl-2 {
    float: left;
    width: 16.6666666667%; }
  .styleguide .col-xxl-3 {
    float: left;
    width: 25%; }
  .styleguide .col-xxl-4 {
    float: left;
    width: 33.3333333333%; }
  .styleguide .col-xxl-5 {
    float: left;
    width: 41.6666666667%; }
  .styleguide .col-xxl-6 {
    float: left;
    width: 50%; }
  .styleguide .col-xxl-7 {
    float: left;
    width: 58.3333333333%; }
  .styleguide .col-xxl-8 {
    float: left;
    width: 66.6666666667%; }
  .styleguide .col-xxl-9 {
    float: left;
    width: 75%; }
  .styleguide .col-xxl-10 {
    float: left;
    width: 83.3333333333%; }
  .styleguide .col-xxl-11 {
    float: left;
    width: 91.6666666667%; }
  .styleguide .col-xxl-12 {
    float: left;
    width: 100%; }
  .styleguide .pull-xxl-0 {
    right: auto; }
  .styleguide .pull-xxl-1 {
    right: 8.3333333333%; }
  .styleguide .pull-xxl-2 {
    right: 16.6666666667%; }
  .styleguide .pull-xxl-3 {
    right: 25%; }
  .styleguide .pull-xxl-4 {
    right: 33.3333333333%; }
  .styleguide .pull-xxl-5 {
    right: 41.6666666667%; }
  .styleguide .pull-xxl-6 {
    right: 50%; }
  .styleguide .pull-xxl-7 {
    right: 58.3333333333%; }
  .styleguide .pull-xxl-8 {
    right: 66.6666666667%; }
  .styleguide .pull-xxl-9 {
    right: 75%; }
  .styleguide .pull-xxl-10 {
    right: 83.3333333333%; }
  .styleguide .pull-xxl-11 {
    right: 91.6666666667%; }
  .styleguide .pull-xxl-12 {
    right: 100%; }
  .styleguide .push-xxl-0 {
    left: auto; }
  .styleguide .push-xxl-1 {
    left: 8.3333333333%; }
  .styleguide .push-xxl-2 {
    left: 16.6666666667%; }
  .styleguide .push-xxl-3 {
    left: 25%; }
  .styleguide .push-xxl-4 {
    left: 33.3333333333%; }
  .styleguide .push-xxl-5 {
    left: 41.6666666667%; }
  .styleguide .push-xxl-6 {
    left: 50%; }
  .styleguide .push-xxl-7 {
    left: 58.3333333333%; }
  .styleguide .push-xxl-8 {
    left: 66.6666666667%; }
  .styleguide .push-xxl-9 {
    left: 75%; }
  .styleguide .push-xxl-10 {
    left: 83.3333333333%; }
  .styleguide .push-xxl-11 {
    left: 91.6666666667%; }
  .styleguide .push-xxl-12 {
    left: 100%; }
  .styleguide .offset-xxl-0 {
    margin-left: 0%; }
  .styleguide .offset-xxl-1 {
    margin-left: 8.3333333333%; }
  .styleguide .offset-xxl-2 {
    margin-left: 16.6666666667%; }
  .styleguide .offset-xxl-3 {
    margin-left: 25%; }
  .styleguide .offset-xxl-4 {
    margin-left: 33.3333333333%; }
  .styleguide .offset-xxl-5 {
    margin-left: 41.6666666667%; }
  .styleguide .offset-xxl-6 {
    margin-left: 50%; }
  .styleguide .offset-xxl-7 {
    margin-left: 58.3333333333%; }
  .styleguide .offset-xxl-8 {
    margin-left: 66.6666666667%; }
  .styleguide .offset-xxl-9 {
    margin-left: 75%; }
  .styleguide .offset-xxl-10 {
    margin-left: 83.3333333333%; }
  .styleguide .offset-xxl-11 {
    margin-left: 91.6666666667%; } }

@font-face {
  font-family: 'unocha-icons';
  src: url("https://un-ocha.github.io/styleguide/assets/fonts/icons/unocha-icons.eot?2k4cdg");
  src: url("https://un-ocha.github.io/styleguide/assets/fonts/icons/unocha-icons.eot?2k4cdg#iefix") format("embedded-opentype"), url("https://un-ocha.github.io/styleguide/assets/fonts/icons/unocha-icons.ttf?2k4cdg") format("truetype"), url("https://un-ocha.github.io/styleguide/assets/fonts/icons/unocha-icons.woff?2k4cdg") format("woff"), url("https://un-ocha.github.io/styleguide/assets/fonts/icons/unocha-icons.svg?2k4cdg#unocha-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

.icomoon-demo [class^="icon-"], .icomoon-demo [class*=" icon-"] {
  font-family: 'unocha-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: text-top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icomoon-demo .icon-twitter:before {
  content: "\e900"; }

.icomoon-demo .icon-eye-hidden:before {
  content: "\e95c"; }

.icomoon-demo .icon-notifications:before {
  content: "\e959"; }

.icomoon-demo .icon-chat:before {
  content: "\e049"; }

.icomoon-demo .icon-calendar:before {
  content: "\e946"; }

.icomoon-demo .icon-arrow-up:before {
  content: "\e957"; }

.icomoon-demo .icon-arrow-down:before {
  content: "\e958"; }

.icomoon-demo .icon-arrow-left:before {
  content: "\e947"; }

.icomoon-demo .icon-arrow-right:before {
  content: "\e94f"; }

.icomoon-demo .icon-menu:before {
  content: "\e950"; }

.icomoon-demo .icon-dots:before {
  content: "\e951"; }

.icomoon-demo .icon-filter:before {
  content: "\e952"; }

.icomoon-demo .icon-home:before {
  content: "\e953"; }

.icomoon-demo .icon-plus:before {
  content: "\e954"; }

.icomoon-demo .icon-user:before {
  content: "\e955"; }

.icomoon-demo .icon-users:before {
  content: "\e956"; }

.icomoon-demo .icon-cancel-circle:before {
  content: "\e91a"; }

.icomoon-demo .icon-check-circle:before {
  content: "\e943"; }

.icomoon-demo .icon-check-big:before {
  content: "\e944"; }

.icomoon-demo .icon-wheel:before {
  content: "\e945"; }

.icomoon-demo .icon-direction-up:before {
  content: "\e95a"; }

.icomoon-demo .icon-direction-down:before {
  content: "\e95b"; }

.icomoon-demo .icon-direction-right:before {
  content: "\e948"; }

.icomoon-demo .icon-direction-left:before {
  content: "\e949"; }

.icomoon-demo .icon-cancel:before {
  content: "\e94a"; }

.icomoon-demo .icon-cancel-big:before {
  content: "\e94b"; }

.icomoon-demo .icon-document:before {
  content: "\e005"; }

.icomoon-demo .icon-search-document:before {
  content: "\e007"; }

.icomoon-demo .icon-news:before {
  content: "\e009"; }

.icomoon-demo .icon-presentation:before {
  content: "\e00e"; }

.icomoon-demo .icon-lightbulb:before {
  content: "\e030"; }

.icomoon-demo .icon-tools:before {
  content: "\e034"; }

.icomoon-demo .icon-circle-compass:before {
  content: "\e038"; }

.icomoon-demo .icon-linegraph:before {
  content: "\e039"; }

.icomoon-demo .icon-mic:before {
  content: "\e03a"; }

.icomoon-demo .icon-caution:before {
  content: "\e03d"; }

.icomoon-demo .icon-globe:before {
  content: "\e045"; }

.icomoon-demo .icon-map-pin:before {
  content: "\e047"; }

.icomoon-demo .icon-piechart:before {
  content: "\e050"; }

.icomoon-demo .icon-clock:before {
  content: "\e055"; }

.icomoon-demo .icon-refresh:before {
  content: "\e05a"; }

.icomoon-demo .icon-facebook-circle:before {
  content: "\e05d"; }

.icomoon-demo .icon-twitter-circle:before {
  content: "\e05e"; }

.icomoon-demo .icon-googleplus-circle:before {
  content: "\e05f"; }

.icomoon-demo .icon-rss-circle:before {
  content: "\e060"; }

.icomoon-demo .icon-linkedin-circle:before {
  content: "\e062"; }

.icomoon-demo .icon-files:before {
  content: "\e95d"; }

.icomoon-demo .icon-sitemap:before {
  content: "\e901"; }

.icomoon-demo .icon-stack:before {
  content: "\e902"; }

.icomoon-demo .icon-layout:before {
  content: "\e903"; }

.icomoon-demo .icon-mail-envelope-open:before {
  content: "\e904"; }

.icomoon-demo .icon-mail:before {
  content: "\e905"; }

.icomoon-demo .icon-flag:before {
  content: "\e906"; }

.icomoon-demo .icon-bookmark:before {
  content: "\e907"; }

.icomoon-demo .icon-eye:before {
  content: "\e908"; }

.icomoon-demo .icon-star:before {
  content: "\e91d"; }

.icomoon-demo .icon-trash:before {
  content: "\e909"; }

.icomoon-demo .icon-information:before {
  content: "\e90a"; }

.icomoon-demo .icon-information-big:before {
  content: "\e90b"; }

.icomoon-demo .icon-clipboard-edit:before {
  content: "\e928"; }

.icomoon-demo .icon-clipboard-download:before {
  content: "\e929"; }

.icomoon-demo .icon-clipboard-list:before {
  content: "\e90c"; }

.icomoon-demo .icon-note:before {
  content: "\e94c"; }

.icomoon-demo .icon-note-add:before {
  content: "\e90d"; }

.icomoon-demo .icon-note-list:before {
  content: "\e92a"; }

.icomoon-demo .icon-note-checked:before {
  content: "\e90e"; }

.icomoon-demo .icon-note-important:before {
  content: "\e92b"; }

.icomoon-demo .icon-notebook-list:before {
  content: "\e90f"; }

.icomoon-demo .icon-document-download:before {
  content: "\e92c"; }

.icomoon-demo .icon-document-upload:before {
  content: "\e92d"; }

.icomoon-demo .icon-document-bookmark:before {
  content: "\e92e"; }

.icomoon-demo .icon-document-table:before {
  content: "\e910"; }

.icomoon-demo .icon-document-code:before {
  content: "\e911"; }

.icomoon-demo .icon-documents:before {
  content: "\e912"; }

.icomoon-demo .icon-copy:before {
  content: "\e913"; }

.icomoon-demo .icon-inbox:before {
  content: "\e914"; }

.icomoon-demo .icon-inboxes:before {
  content: "\e915"; }

.icomoon-demo .icon-inbox-download:before {
  content: "\e916"; }

.icomoon-demo .icon-inbox-upload:before {
  content: "\e917"; }

.icomoon-demo .icon-folder:before {
  content: "\e918"; }

.icomoon-demo .icon-folders:before {
  content: "\e92f"; }

.icomoon-demo .icon-folder-unlocked:before {
  content: "\e930"; }

.icomoon-demo .icon-folder-locked:before {
  content: "\e931"; }

.icomoon-demo .icon-search:before {
  content: "\e919"; }

.icomoon-demo .icon-lock:before {
  content: "\e932"; }

.icomoon-demo .icon-lock-open:before {
  content: "\e933"; }

.icomoon-demo .icon-printer:before {
  content: "\e94d"; }

.icomoon-demo .icon-cloud-download:before {
  content: "\e934"; }

.icomoon-demo .icon-cloud-upload:before {
  content: "\e935"; }

.icomoon-demo .icon-edit:before {
  content: "\e91b"; }

.icomoon-demo .icon-document-edit:before {
  content: "\e936"; }

.icomoon-demo .icon-document-certificate:before {
  content: "\e937"; }

.icomoon-demo .icon-certificate:before {
  content: "\e91c"; }

.icomoon-demo .icon-box-filled:before {
  content: "\e938"; }

.icomoon-demo .icon-box-bookmark:before {
  content: "\e939"; }

.icomoon-demo .icon-tag:before {
  content: "\e93a"; }

.icomoon-demo .icon-paperclip:before {
  content: "\e91e"; }

.icomoon-demo .icon-trophy:before {
  content: "\e91f"; }

.icomoon-demo .icon-medal:before {
  content: "\e93b"; }

.icomoon-demo .icon-stop-watch:before {
  content: "\e920"; }

.icomoon-demo .icon-award:before {
  content: "\e921"; }

.icomoon-demo .icon-target:before {
  content: "\e922"; }

.icomoon-demo .icon-cloud-add:before {
  content: "\e93c"; }

.icomoon-demo .icon-sun:before {
  content: "\e93d"; }

.icomoon-demo .icon-moon:before {
  content: "\e93e"; }

.icomoon-demo .icon-warning:before {
  content: "\e94e"; }

.icomoon-demo .icon-one-finger-swipe-left:before {
  content: "\e923"; }

.icomoon-demo .icon-one-finger-swipe-right:before {
  content: "\e93f"; }

.icomoon-demo .icon-one-finger-double-tap:before {
  content: "\e940"; }

.icomoon-demo .icon-one-finger-tap:before {
  content: "\e924"; }

.icomoon-demo .icon-one-finger-click:before {
  content: "\e941"; }

.icomoon-demo .icon-document-file-pdf:before {
  content: "\e925"; }

.icomoon-demo .icon-document-file-xls:before {
  content: "\e926"; }

.icomoon-demo .icon-document-file-docx:before {
  content: "\e942"; }

.icomoon-demo .icon-document-file-xlsx:before {
  content: "\e927"; }

.icomoon-demo .icon-mobile:before {
  content: "\e95f"; }

.icomoon-demo .icon-beaker:before {
  content: "\e95e"; }

.icomoon-demo {
  display: flex;
  flex-wrap: wrap; }
  .icomoon-demo [class^="icon-"] {
    font-size: 48px; }
  .icomoon-demo .glyph {
    font-size: 16px;
    padding: 16px 0;
    margin-right: 1%;
    width: 49%;
    border-bottom: 1px solid #ccc; }
    .icomoon-demo .glyph fieldset {
      padding: 0; }
      .icomoon-demo .glyph fieldset input + input {
        display: none; }
    .icomoon-demo .glyph div:last-child {
      display: none; }
  .icomoon-demo .liga {
    width: 80%;
    width: calc(100% - 2.5em); }
  .icomoon-demo .talign-right {
    text-align: right; }
  .icomoon-demo .talign-center {
    text-align: center; }
  .icomoon-demo .bgc1 {
    background: #f1f1f1; }
  .icomoon-demo .fgc1 {
    color: #999; }
  .icomoon-demo .fgc0 {
    color: #000; }
  .icomoon-demo p {
    margin-top: 1em;
    margin-bottom: 1em; }
  .icomoon-demo .mvm {
    margin-top: .75em;
    margin-bottom: .75em; }
  .icomoon-demo .mtn {
    margin-top: 0; }
  .icomoon-demo .mtl, .icomoon-demo .mal {
    margin-top: 1.5em; }
  .icomoon-demo .mbl, .icomoon-demo .mal {
    margin-bottom: 1.5em; }
  .icomoon-demo .mal, .icomoon-demo .mhl {
    margin-left: 1.5em;
    margin-right: 1.5em; }
  .icomoon-demo .mhmm {
    margin-left: 1em;
    margin-right: 1em; }
  .icomoon-demo .mls {
    margin-left: .25em; }
  .icomoon-demo .ptl {
    padding-top: 1.5em; }
  .icomoon-demo .pbs, .icomoon-demo .pvs {
    padding-bottom: .25em; }
  .icomoon-demo .pvs, .icomoon-demo .pts {
    padding-top: .25em; }
  .icomoon-demo .unit {
    float: left; }
  .icomoon-demo .unitRight {
    float: right; }
  .icomoon-demo .size1of2 {
    width: 50%; }
  .icomoon-demo .size1of1 {
    width: 100%; }
  .icomoon-demo .clearfix:before, .icomoon-demo .clearfix:after {
    content: " ";
    display: table; }
  .icomoon-demo .clearfix:after {
    clear: both; }
  .icomoon-demo .hidden-true {
    display: none; }
  .icomoon-demo .textbox0 {
    width: 3em;
    background: #f1f1f1;
    padding: .25em .5em;
    line-height: 1.5;
    height: 1.5em; }
  .icomoon-demo #testDrive {
    display: block;
    padding-top: 24px;
    line-height: 1.5; }
  .icomoon-demo .fs0 {
    font-size: 16px; }
  .icomoon-demo .fs1 {
    font-size: 32px; }
  .icomoon-demo fieldset {
    border: none; }
  .icomoon-demo input[type="text"] {
    width: 56px;
    border: none; }

html.styleguide, html.styleguide body {
  height: auto; }

.sg-container.cd-container {
  padding-top: 20px;
  padding-bottom: 20px; }

.sg-container--hid {
  max-width: 1220px !important;
  padding: 0 8px !important; }

.sg-page-header {
  padding-bottom: 8px;
  border-bottom: 2px solid #007faa;
  margin-bottom: 24px;
  font-family: sans-serif;
  font-weight: 300; }
  .sg-page-header p {
    margin-bottom: 8px; }

.sg-page-header__heading {
  color: #007faa;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 30px; }
  .sg-page-header__heading a {
    color: #595959;
    text-decoration: none;
    border-bottom: 1px dotted #595959; }

.sg-list + .sg-list {
  margin-top: 24px; }

.sg-list__header {
  color: #007faa;
  border-bottom: 1px solid #007faa;
  padding-bottom: 8px; }
  .sg-list__header h3 {
    font-size: 24px;
    margin-bottom: 4px; }
  .sg-list__header p {
    font-size: 14px; }
  .sg-list__header h1, .sg-list__header h2 {
    font-size: 30px;
    margin-bottom: 8px; }
  .sg-list__header p {
    margin-bottom: 8px; }

.sg-list__item {
  border-bottom: 1px dotted #ccc;
  padding: 16px 0; }
  .sg-list__item p {
    margin-bottom: 8px; }
    .sg-list__item p:last-child {
      margin-bottom: 0; }

.sg-list__sub-heading {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold; }

.sg-file-link {
  font-size: 14px;
  display: block;
  margin-top: 4px; }

.sg-color {
  display: flex;
  align-items: center; }
  .sg-color span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 8px; }

.sg-text-color {
  font-size: 16px; }

.sg-border-color {
  display: flex;
  align-items: center; }
  .sg-border-color span {
    display: inline-block;
    width: 80px;
    height: 1px;
    margin-right: 8px;
    border-top: 1px solid black; }

.sg-section, .sg-section__item {
  padding-top: 12px;
  padding-bottom: 12px; }

.sg-section ul {
  padding-left: 0;
  list-style: none; }

.sg-section__header {
  color: #007faa;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  margin-bottom: 16px; }
  .sg-section__header h3 {
    font-size: 24px;
    margin-bottom: 4px; }
  .sg-section__header p {
    font-size: 14px; }

.sg-icon-list .icon {
  width: 24px;
  height: 24px;
  vertical-align: text-top;
  line-height: 1; }

.sg-icon-list--rw .icon {
  vertical-align: bottom; }

.sg-icon-list--rw .highlight {
  margin-top: 0; }

.sg-hidden {
  display: none; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #eee;
  overflow: auto;
  margin: 8px 0; }
  .highlight pre {
    white-space: pre-line;
    padding: 4px;
    font-size: 14px;
    margin: 0; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

.html-block {
  background: #eee;
  overflow: auto;
  margin: 20px;
  font-family: monospace;
  white-space: pre; }
