/**
 * Common Design Layout styles.
 */

html {
  background: $cd-site-bg-color;
  height: 100%;
  margin: 0;
  margin-left: calc(100vw - 100%); //prevents scrollbar changing page width in IE.
}

body {
  background: $cd-white-bg-color;
  margin: 0 auto;
  max-width: $cd-max-body-width;
  min-height: 100%;
  padding: 0;

  // Grid is used to fix the footer to the bottom of the screen, regardless of page min-height.
  // Just for CSS grid supporting browsers as IE fallback causes weirdness here.
  display: grid;
  grid-template-rows: 1fr auto;
}

.cd-container {
  @include clearfix;
  box-sizing: border-box;
  padding: 0 $cd-container-padding;
  margin: 0 auto;
  max-width: $cd-max-width;
}

@media (min-width: map-get($cd-breakpoints, tablet)) {

  .cd-container {
    padding: 0 $cd-container-padding-tablet;
  }

}

@media (min-width: map-get($cd-breakpoints, desktop)) {

  html {
    padding: 0 $cd-site-padding;
  }

}

@media (min-width: map-get($cd-breakpoints, largescreen)) {

  .cd-container {
    padding: 0 $cd-container-padding-largescreen;
  }

}
