/**
 * Overrides for Chosen plugin styles, see https://harvesthq.github.io/chosen/
 */

/** remove and use variables from your theme */
$base-unit: 8px;
$border-color: #CCCCCC;
$base-font-size: 16px;
$small-font-size: 14px;
$primary-bg-color: #026CB6;
$highlight-border-color: #002D80;
/** */


.chosen-container {
	width: 100%!important; //over ride chosen's inline style
	max-width: 300px;
	font-size: $base-font-size;
	background: white;

	.chosen-drop {
		box-shadow: none;
		border-radius: 0;
		border-color: #ddd;
		font-size: $small-font-size;
	}

	.chosen-results {

		li.active-result {
			&.highlighted {
				background: $primary-bg-color;
			}
		}

	}
}

.chosen-container-single.chosen-container-active {

	.chosen-single {
		border-color: $highlight-border-color;
	}

}

.chosen-container-active.chosen-with-drop {
	border-color: $border-color;

	.chosen-single {
		border-color: $border-color;
		background: none;

		div b {
			transform: rotate(180deg);
		}
	}
}

.chosen-container-single {
	.chosen-single {
		background: none;
		box-shadow: none;
		border: 1px solid $border-color;
		border-radius: 0;
		height: auto;
		padding: $base-unit/2 $base-unit;

		div {
			width: $base-unit*3;

			b {
	    	background: url(../assets/images/arrow-down.svg) center no-repeat !important; // to over ride chosen sprite media queries
	    	background-size: 10px 10px!important;
	    }
	  }
	}
}
