@font-face {
  font-family: 'exo_2regular';
  src: url('../assets/fonts/exo/Exo2-Regular-webfont.eot');
  src: url('../assets/fonts/exo/Exo2-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/exo/Exo2-Regular-webfont.woff') format('woff'),
  url('../assets/fonts/exo/Exo2-Regular-webfont.ttf') format('truetype'),
  url('../assets/fonts/exo/Exo2-Regular-webfont.svg#exo_2regular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'exo_2semi_bold';
  src: url('../assets/fonts/exo/Exo2-SemiBold-webfont.eot');
  src: url('../assets/fonts/exo/Exo2-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/exo/Exo2-SemiBold-webfont.woff') format('woff'),
  url('../assets/fonts/exo/Exo2-SemiBold-webfont.ttf') format('truetype'),
  url('../assets/fonts/exo/Exo2-SemiBold-webfont.svg#exo_2semi_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'unocha-icons';
  src:  url('../assets/fonts/icons/unocha-icons.eot?2k4cdg');
  src:  url('../assets/fonts/icons/unocha-icons.eot?2k4cdg#iefix') format('embedded-opentype'),
    url('../assets/fonts/icons/unocha-icons.ttf?2k4cdg') format('truetype'),
    url('../assets/fonts/icons/unocha-icons.woff?2k4cdg') format('woff'),
    url('../assets/fonts/icons/unocha-icons.svg?2k4cdg#unocha-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
