body {
  margin: 0;
  padding: 0;
}

.ng-hide {
  display: none;
}
$base-unit: 8px;

.styleguide {
  font-family: sans-serif;
  color: #666;
  padding: 0 $base-unit*2;
  display: flex;
}

.styleguide-heading {
  font-size: 40px;
}

.sg-section, .sg-section__item {
  padding-top: $base-unit;
  padding-bottom: $base-unit;
}

.sg-section__header {
  color: #007faa;
  border-bottom: 1px solid #ccc;
  padding-bottom: $base-unit;
  margin-bottom: $base-unit*2;

  h3 {
    font-size: 24px;
    margin-bottom: $base-unit/2;
  }
}

.sg-color {
  display: flex;
  align-items: center;

  span {
    display: inline-block;
    width: $base-unit*5;
    height: $base-unit*5;
    margin-right: $base-unit;
  }
}

.sg-dark-bg {
  background: #666;
}

.styleguide-col {
  width: 50%;
}


footer {
  height: 40px;
}
