.ng-hide {
  display: none;
}

$base-unit: 8px;

.styleguide {
  // font-family: sans-serif;
  // color: #666;
  // padding: 0 $base-unit*2;
  // display: flex;

  // &.styleguide--full-width {
  //   display: block;
  // }
}

.styleguide-header {
  border-bottom: 2px solid #666;
  padding-bottom: $base-unit;
  margin-bottom: $base-unit;

  a {
    border-bottom: 1px dotted #666;
    padding-bottom: 1px;
    text-decoration: none;

    &:hover, &:focus {
      border: none;
    }
  }

  p {
    font-size: 14px;
    margin-bottom: $base-unit;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3 {
    font-weight: normal;
    font-size: 14px;
  }
}

.styleguide-heading {
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: $base-unit;
}

.sg-site-header {
  background: #666;
  color: white;
  margin-bottom: $base-unit*2;
  padding: $base-unit;

  h1 {
    margin: 0;
    font-family: helvetica, arial, sans-serif;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

.sg-section, .sg-section__item {
  padding-top: $base-unit*1.5;
  padding-bottom: $base-unit*1.5;
}

.sg-section__header {
  color: #007faa;
  border-bottom: 1px solid #ccc;
  padding-bottom: $base-unit;
  margin-bottom: $base-unit*2;

  h3 {
    font-size: 24px;
    margin-bottom: $base-unit/2;
  }

  p {
    font-size: 14px;
  }
}

.sg-color {
  display: flex;
  align-items: center;

  span {
    display: inline-block;
    width: $base-unit*5;
    height: $base-unit*5;
    margin-right: $base-unit;
  }
}

.sg-dark-bg {
  background: #666;
}

.styleguide-col {
  width: 50%;
}

.sg-nav {
  display: none;

  @media(min-width: 768px) {
    display: block;
  }

  a {
    display: block;
    text-decoration: none;
    padding: $base-unit/2;

    &:hover, &:focus {
      background: #666;
      color: white;
    }
  }

}


footer {
  height: 40px;
}

.icomoon-demo  {
  display: flex;
  flex-wrap: wrap;
  [class^="icon-"] {
    font-size: 48px;
  }
  .glyph {
    font-size: 16px;
    padding: 16px 0;
    margin-right: 1%;
    width: 49%;
    border-bottom: 1px solid #ccc;

    fieldset {
      padding: 0;

      input + input {
        display: none;
      }
    }


    div:last-child {
      display: none;
    }
  }
.liga {
  width: 80%;
  width: calc(100% - 2.5em);
}
.talign-right {
  text-align: right;
}
.talign-center {
  text-align: center;
}
.bgc1 {
  background: #f1f1f1;
}
.fgc1 {
  color: #999;
}
.fgc0 {
  color: #000;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.mvm {
  margin-top: .75em;
  margin-bottom: .75em;
}
.mtn {
  margin-top: 0;
}
.mtl, .mal {
  margin-top: 1.5em;
}
.mbl, .mal {
  margin-bottom: 1.5em;
}
.mal, .mhl {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.mhmm {
  margin-left: 1em;
  margin-right: 1em;
}
.mls {
  margin-left: .25em;
}
.ptl {
  padding-top: 1.5em;
}
.pbs, .pvs {
  padding-bottom: .25em;
}
.pvs, .pts {
  padding-top: .25em;
}
.unit {
  float: left;
}
.unitRight {
  float: right;
}
.size1of2 {
  width: 50%;
}
.size1of1 {
  width: 100%;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.hidden-true {
  display: none;
}
.textbox0 {
  width: 3em;
  background: #f1f1f1;
  padding: .25em .5em;
  line-height: 1.5;
  height: 1.5em;
}
#testDrive {
  display: block;
  padding-top: 24px;
  line-height: 1.5;
}
.fs0 {
  font-size: 16px;
}
.fs1 {
  font-size: 32px;
}
fieldset {
  border: none;
}
input[type="text"] {
  width: 56px;
  border: none;
}
}

.sg-hidden {
  display: none;
}
