/**
 * Mixins used by the Common Design.
 * Can be replaced by equivalents in your theme if appropriate.
 */

/**
 * Standard clearfix.
 */
@mixin clearfix {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

/**
 * Hide content offscreen accessibly.
 */
@mixin hide {
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/**
 * Un-hide content.
 */
@mixin unhide {
  height: auto;
  margin: 0;
  position: static;
  width: auto;
}
