<ul class="cd-footer-menu cd-footer__section">
  <li class="cd-footer-menu__item">
    <a href="#">About</a>
  </li>
  <li class="cd-footer-menu__item">
    <a href="/">Blog</a>
  </li>
  <li class="cd-footer-menu__item">
    <a href="/">Contact</a>
  </li>
  <li class="cd-footer-menu__item">
    <a href="/">Labs</a>
  </li>
  <li class="cd-footer-menu__item">
    <a href="/">Resources</a>
  </li>
  <li class="cd-footer-menu__item">
    <a href="/">RSS</a>
  </li>
  <li class="cd-footer-menu__item">
    <a href="/">Terms & Conditions</a>
  </li>
</ul>
