<div class="cd-site-header__nav-holder">

  <button type="button" id="cd-nav-toggle" class="cd-site-header__nav-toggle" data-toggle="dropdown">
    <span class="cd-site-header__nav-label">Menu</span>
    <span class="icon-arrow-down" aria-hidden="true"></span>
      <span class="cd-sr-only">Close menu</span>
    </span>
  </button>

  <nav role="navigation" id="cd-nav" class="cd-nav cd-dropdown" aria-labelledby="cd-nav-toggle">
    <ul>
      <li class="cd-nav__item">
        <button type="button" class="cd-dropdown-toggle cd-sub-nav-toggle" data-toggle="dropdown">
          Option One
          <span class="icon-arrow-down" aria-hidden="true"></span>
        </button>
        <ul class="cd-nav__child-nav cd-dropdown" aria-labelledby="cd-sub-nav-toggle">
          <li class="cd-nav__child-item">
            <button type="button" class="cd-dropdown-toggle cd-sub-sub-nav-toggle" data-toggle="dropdown">
              Child option
              <span class="icon-arrow-down" aria-hidden="true"></span>
            </button>
            <ul class="cd-nav__grandchild-nav cd-dropdown"  aria-labelledby="cd-sub-nav-toggle">
              <li  class="cd-nav__grandchild-item">
                <a href="#">Grand child option</a>
              </li>
              <li class="cd-nav__grandchild-item">
                <a href="#">Grand child option</a>
              </li>
            </ul>
          </li>
          <li class="cd-nav__child-item">
            <a href="#">Child option</a>
          </li>
        </ul>
      </li>
      <li class="cd-nav__item">
        <a href="#">Option Two</a>
      </li>
      <li class="cd-nav__item">
        <a href="#">Option Three</a>
      </li>
      <li class="cd-nav__item">
        <a href="#">Option Four</a>
      </li>
      <li class="cd-nav__item">
        <a href="#">Option Five</a>
      </li>
      <li class="cd-nav__item">
        <a href="#">Option Six</a>
      </li>
    </ul>
  </nav>
</div>
