<div class="cd-sites">
  <button type="button" class="cd-sites-btn cd-global-header__dropdown-btn" data-toggle="dropdown" id="cd-sites-dropdown-toggle" aria-expanded="false">
    <span class="cd-sites-btn__logo" aria-hidden="true"></span>
    <span class="cd-sites-btn__label">OCHA Services</span>
    <span class="icon-arrow-down" aria-hidden="true"></span>
  </button>
  <div class="cd-global-header__dropdown cd-sites-dropdown cd-dropdown" role="menu" id="cd-sites-dropdown" aria-labelledby="cd-sites-dropdown-toggle">
    <div class="cd-sites-dropdown__inner">
      <div class="cd-sites-dropdown__section">
        <p class="cd-sites-dropdown__heading">Data Sharing Services</p>
        <ul>
          <li>
            <a href="https://data.humdata.org/" class="cd-sites-dropdown__link">
              <span class="cd-sites-dropdown__link-label">Humanitarian Data Exchange</span>
              <span class="cd-sites-dropdown__logo cd-sites-dropdown__logo--hdx"></span>
            </a>
          </li>
        </ul>

        <p class="cd-sites-dropdown__heading">Financial Contribution &amp; Pooled Funds</p>
        <ul>
          <li>
            <a href="https://cerf.un.org/" class="cd-sites-dropdown__link">
              <span class="cd-sites-dropdown__link-label">Central Emergency Response Fund</span>
              <span class="cd-sites-dropdown__logo cd-sites-dropdown__logo--cerf"></span>
            </a>
          </li>
          <li>
            <a href="https://fts.unocha.org/" class="cd-sites-dropdown__link">
              <span class="cd-sites-dropdown__link-label">Financial Tracking Services</span>
              <span class="cd-sites-dropdown__logo cd-sites-dropdown__logo--fts"></span>
            </a>
          </li>
        </ul>
      </div>

      <div class="cd-sites-dropdown__section">
        <p class="cd-sites-dropdown__heading">Response Coordination &amp; Crisis Information</p>
        <ul>
          <li>
            <a href="https://events.rwlabs.org/" class="cd-sites-dropdown__link">
              <span class="cd-sites-dropdown__link-label">Humanitarian Events</span>
              <span class="cd-sites-dropdown__logo cd-sites-dropdown__logo--events"></span>
            </a>
          </li>
          <li>
            <a href="https://humanitarian.id/" class="cd-sites-dropdown__link">
              <span class="cd-sites-dropdown__link-label">Humanitarian ID</span>
              <span class="cd-sites-dropdown__logo cd-sites-dropdown__logo--hid"></span>
            </a>
          </li>
          <li>
            <a href="https://humanitarianresponse.info/" class="cd-sites-dropdown__link">
              <span class="cd-sites-dropdown__link-label">Humanitarian Response</span>
              <span class="cd-sites-dropdown__logo cd-sites-dropdown__logo--hrinfo"></span>
            </a>
          </li>
          <li>
            <a href="https://vosocc.unocha.org/" class="cd-sites-dropdown__link">
              <span class="cd-sites-dropdown__link-label">Virtual OSOCC</span>
              <span class="cd-sites-dropdown__logo cd-sites-dropdown__logo--vosocc"></span>
            </a>
          </li>
        </ul>
      </div>

      <div class="cd-sites-dropdown__section">
        <p class="cd-sites-dropdown__heading">Corporate Information, Activities &amp; More</p>
        <ul>
          <li>
            <a href="https://www.interagencystandingcommittee.org/" class="cd-sites-dropdown__link">
              <span class="cd-sites-dropdown__link-label">Inter Agency Standing Committee</span>
              <span class="cd-sites-dropdown__logo cd-sites-dropdown__logo--iasc"></span>
            </a>
          </li>
          <li>
            <a href="http://unocha.org/" class="cd-sites-dropdown__link">
              <span class="cd-sites-dropdown__link-label">United Nations OCHA</span>
              <span class="cd-sites-dropdown__logo cd-sites-dropdown__logo--ocha"></span>
            </a>
          </li>
        </ul>

        <p class="cd-sites-dropdown__heading">Gateway to all OCHA services</p>
        <ul>
          <li>
            <a href="https://reliefweb.int/" class="cd-sites-dropdown__link">
              <span class="cd-sites-dropdown__link-label">ReliefWeb</span>
              <span class="cd-sites-dropdown__logo cd-sites-dropdown__logo--rw"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
