<div class="cd-footer-social cd-footer__section">
  <a href="#" class="cd-footer-social__link">
    <span class="cd-sr-only">Facebook</span>
    <span class="icon-facebook" aria-hidden="true"></span>
  </a>
  <a href="#" class="cd-footer-social__link">
    <span class="cd-sr-only">Twitter</span>
    <span class="icon-twitter" aria-hidden="true"></span>
  </a>
  <a href="#" class="cd-footer-social__link">
    <span class="cd-sr-only">YouTube</span>
    <span class="icon-youtube" aria-hidden="true"></span>
  </a>
</div>
