<div class="cd-search--inline">
  <button type="button" class="cd-search--inline_btn" data-toggle="dropdown" id="cd-search-btn">
    <span class="icon-search" aria-hidden="true"></span>
    <span class="cd-search_btn-text">Search</span>
  </button>
  <form role="search" class="cd-search--inline__form" aria-labelledby="cd-search-btn">
    <div class="cd-search--inline__form-inner">
      <label for="cd-search" class="cd-sr-only">What are you looking for?</label>
      <input type="search" placeholder="What are you looking for?" name="cd-search" id="cd-search" class="cd-search--inline__input" autocomplete="off">
      <button type="submit" class="cd-search--inline__submit">
        <span class="icon-search" aria-hidden="true"></span>
        <span class="cd-sr-only">Search</span>
      </button>
    </div>
  </form>
</div>
