<ul class="cd-user-menu">
<li>
  <a href="#" class="cd-user-menu__item cd-user-menu__item--mobile-icon">
    <span class="cd-user-menu__icon icon-user" aria-hidden="true"></span>
    <span class="cd-user-menu__label">Option</span>
  </a>
</li>
<li>
  <button type="button" class="cd-user-menu__item cd-user-menu__item--small cd-global-header__dropdown-btn" data-toggle="dropdown" id="cd-lang-toggle">
    <span class="cd-user-menu__label">EN</span>
    <span class="icon-arrow-down" aria-hidden="true"></span>
  </button>
  <ul class="cd-global-header__dropdown cd-dropdown cd-user-menu__dropdown" id="cd-lang-dropdown" role="menu" aria-hidden="true" aria-labelledby="cd-lang-toggle">
    <li>
      <a href="#" class="cd-user-menu__dropdown-link active">
        <span class="cd-user-menu__dropdown-link-label">English</span>
      </a>
    </li>
    <li>
      <a href="#" class="cd-user-menu__dropdown-link">
        <span class="cd-user-menu__dropdown-link-label">French</span>
      </a>
    </li>
  </ul>
</li>
<li>
  <a href="#" class="cd-user-menu__item">
    <span class="cd-user-menu__icon icon-user" aria-hidden="true"></span>
    <span class="cd-user-menu__label">Option</span>
  </a>
</li>
</ul>
