<header class="cd-header" role="banner">

  <div class="cd-global-header">
    <div class="cd-container cd-global-header__inner">

      <!-- Sites menu -->
      <div class="cd-sites">
        <button type="button" class="cd-sites-btn cd-global-header__dropdown-btn" data-toggle="dropdown" id="cd-sites-dropdown-toggle" aria-expanded="false">
          <span class="cd-sites-btn__logo" aria-hidden="true"></span>
          <span class="cd-sites-btn__label">OCHA Services</span>
          <span class="icon-arrow-down" aria-hidden="true"></span>
        </button>
        <div class="cd-global-header__dropdown cd-sites-dropdown cd-dropdown" role="menu" id="cd-sites-dropdown" aria-labelledby="cd-sites-dropdown-toggle">
          <div class="cd-sites-dropdown__inner">
            <div class="cd-sites-dropdown__section">
              <p class="cd-sites-dropdown__heading">Data Sharing Services</p>
              <ul>
                <li>
                  <a href="https://data.humdata.org/" class="cd-sites-dropdown__link">
                    <span class="cd-sites-dropdown__link-label">Humanitarian Data Exchange</span>
                    <span class="cd-sites-dropdown__logo cd-sites-dropdown__logo--hdx"></span>
                  </a>
                </li>
              </ul>

              <p class="cd-sites-dropdown__heading">Financial Contribution &amp; Pooled Funds</p>
              <ul>
                <li>
                  <a href="https://cerf.un.org/" class="cd-sites-dropdown__link">
                    <span class="cd-sites-dropdown__link-label">Central Emergency Response Fund</span>
                    <span class="cd-sites-dropdown__logo cd-sites-dropdown__logo--cerf"></span>
                  </a>
                </li>
                <li>
                  <a href="https://fts.unocha.org/" class="cd-sites-dropdown__link">
                    <span class="cd-sites-dropdown__link-label">Financial Tracking Services</span>
                    <span class="cd-sites-dropdown__logo cd-sites-dropdown__logo--fts"></span>
                  </a>
                </li>
              </ul>
            </div>

            <div class="cd-sites-dropdown__section">
              <p class="cd-sites-dropdown__heading">Response Coordination &amp; Crisis Information</p>
              <ul>
                <li>
                  <a href="https://events.rwlabs.org/" class="cd-sites-dropdown__link">
                    <span class="cd-sites-dropdown__link-label">Humanitarian Events</span>
                    <span class="cd-sites-dropdown__logo cd-sites-dropdown__logo--events"></span>
                  </a>
                </li>
                <li>
                  <a href="https://humanitarian.id/" class="cd-sites-dropdown__link">
                    <span class="cd-sites-dropdown__link-label">Humanitarian ID</span>
                    <span class="cd-sites-dropdown__logo cd-sites-dropdown__logo--hid"></span>
                  </a>
                </li>
                <li>
                  <a href="https://humanitarianresponse.info/" class="cd-sites-dropdown__link">
                    <span class="cd-sites-dropdown__link-label">Humanitarian Response</span>
                    <span class="cd-sites-dropdown__logo cd-sites-dropdown__logo--hrinfo"></span>
                  </a>
                </li>
                <li>
                  <a href="https://vosocc.unocha.org/" class="cd-sites-dropdown__link">
                    <span class="cd-sites-dropdown__link-label">Virtual OSOCC</span>
                    <span class="cd-sites-dropdown__logo cd-sites-dropdown__logo--vosocc"></span>
                  </a>
                </li>
              </ul>
            </div>

            <div class="cd-sites-dropdown__section">
              <p class="cd-sites-dropdown__heading">Corporate Information, Activities &amp; More</p>
              <ul>
                <li>
                  <a href="https://www.interagencystandingcommittee.org/" class="cd-sites-dropdown__link">
                    <span class="cd-sites-dropdown__link-label">Inter Agency Standing Committee</span>
                    <span class="cd-sites-dropdown__logo cd-sites-dropdown__logo--iasc"></span>
                  </a>
                </li>
                <li>
                  <a href="http://unocha.org/" class="cd-sites-dropdown__link">
                    <span class="cd-sites-dropdown__link-label">United Nations OCHA</span>
                    <span class="cd-sites-dropdown__logo cd-sites-dropdown__logo--ocha"></span>
                  </a>
                </li>
              </ul>

              <p class="cd-sites-dropdown__heading">Gateway to all OCHA services</p>
              <ul>
                <li>
                  <a href="https://reliefweb.int/" class="cd-sites-dropdown__link">
                    <span class="cd-sites-dropdown__link-label">ReliefWeb</span>
                    <span class="cd-sites-dropdown__logo cd-sites-dropdown__logo--rw"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end Sites menu -->

      <!-- User menu -->
      <ul class="cd-user-menu">
        <li>
          <a href="#" class="cd-user-menu__item cd-user-menu__item--mobile-icon">
            <span class="cd-user-menu__icon icon-user" aria-hidden="true"></span>
            <span class="cd-user-menu__label">Option</span>
          </a>
        </li>
        <li>
          <button type="button" class="cd-user-menu__item cd-user-menu__item--small cd-global-header__dropdown-btn" data-toggle="dropdown" id="cd-lang-toggle">
            <span class="cd-user-menu__label">EN</span>
            <span class="icon-arrow-down" aria-hidden="true"></span>
          </button>
          <ul class="cd-global-header__dropdown cd-dropdown cd-user-menu__dropdown" id="cd-lang-dropdown" role="menu" aria-hidden="true" aria-labelledby="cd-lang-toggle">
            <li>
              <a href="#" class="cd-user-menu__dropdown-link active">
                <span class="cd-user-menu__dropdown-link-label">English</span>
              </a>
            </li>
            <li>
              <a href="#" class="cd-user-menu__dropdown-link">
                <span class="cd-user-menu__dropdown-link-label">French</span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="cd-user-menu__item">
            <span class="cd-user-menu__icon icon-user" aria-hidden="true"></span>
            <span class="cd-user-menu__label">Option</span>
          </a>
        </li>
      </ul>
      <!-- end User menu -->

    </div>
  </div>

  <div class="cd-site-header">
    <div class="cd-container cd-site-header__inner">

      <!-- Logo -->
      <a href="#" class="cd-site-logo">
        <span class="cd-sr-only">My Site Name</span>
      </a>
      <!-- end Logo -->


      <div class="cd-site-header__actions">

        <!-- Search -->
        <div class="cd-search">
          <button type="button" class="cd-search_btn" data-toggle="dropdown" id="cd-search-btn">
            <span class="icon-search" aria-hidden="true"></span>
            <span class="cd-sr-only">Search</span>
          </button>

          <form role="search" class="cd-search__form" aria-labelledby="cd-search-btn">
            <div class="cd-search__form-inner">
              <label for="cd-search" class="cd-sr-only">What are you looking for?</label>
              <span class="cd-search__icon icon-search" aria-hidden="true"></span>
              <input type="search" placeholder="What are you looking for?" name="cd-search" id="cd-search" class="cd-search__input">
              <button type="submit" class="cd-search__submit">
                Go
                <span class="icon-arrow-right" aria-hidden="true"></span>
              </button>
            </div>
          </form>
        </div>
        <!-- end Search -->

        <!-- Navigation -->
        <div class="cd-site-header__nav-holder">

          <button type="button" id="cd-nav-toggle" class="cd-site-header__nav-toggle" data-toggle="dropdown">
            <span class="cd-site-header__nav-label--closed">Menu</span>
            <span class="cd-site-header__nav-label--open">
              <span class="icon-cancel"></span>
              <span class="cd-sr-only">Close menu</span>
            </span>
          </button>

          <nav role="navigation" id="cd-nav" class="cd-nav cd-dropdown" aria-labelledby="cd-nav-toggle">
            <ul>
              <li class="cd-nav__item">
                <button type="button" id="cd-sub-nav-toggle" data-toggle="dropdown">
                  Option One
                  <span class="icon-arrow-down" aria-hidden="true"></span>
                </button>
                <ul class="cd-nav__child-nav cd-dropdown" aria-labelledby="cd-sub-nav-toggle">
                  <li class="cd-nav__child-item">
                    <button type="button" id="cd-sub-sub-nav-toggle" data-toggle="dropdown">
                      Child option
                      <span class="icon-arrow-down" aria-hidden="true"></span>
                    </button>
                    <ul class="cd-nav__grandchild-nav cd-dropdown"  aria-labelledby="cd-sub-nav-toggle">
                      <li  class="cd-nav__grandchild-item">
                        <a href="#">Grand child option</a>
                      </li>
                      <li class="cd-nav__grandchild-item">
                        <a href="#">Grand child option</a>
                      </li>
                    </ul>
                  </li>
                  <li class="cd-nav__child-item">
                    <a href="#">Child option</a>
                  </li>
                </ul>
              </li>
              <li class="cd-nav__item">
                <a href="#">Option Two</a>
              </li>
              <li class="cd-nav__item">
                <a href="#">Option Three</a>
              </li>
              <li class="cd-nav__item">
                <a href="#">Option Four</a>
              </li>
              <li class="cd-nav__item">
                <a href="#">Option Five</a>
              </li>
              <li class="cd-nav__item">
                <a href="#">Option Six</a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- end Navigation -->

      </div>

    </div>
  </div>

</header>

<script>
  // A quick script to allow nested bootstrap dropdowns for this demo.
  // Don't put scripts in templates like this on real sites!
  //
  // @see https://www.drupal.org/docs/7/theming/working-with-javascript-and-jquery
  (function($) {
    $(document).ready(function(){
      $('.cd-dropdown button').on('click', function(e){
        $(this).parent().toggleClass('open');
        e.stopPropagation();
        e.preventDefault();
      });
    });
  })(jQuery);
</script>
