.cd-global-header {
  background: $primary-bg-color;
  color: $light-text-color;

  .dropdown-menu {
    background: $primary-bg-color;

    a {
      color: $light-text-color;

      &:hover, &:focus {
        background: darken($primary-bg-color, 10%);
      }
    }
  }
}

.cd-global-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $cd-global-header-height;

  .no-flexbox & {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

.cd-global-header__sites {
  position: relative;
  margin-left: -$base-unit;

  .no-flexbox & {
    float: left;
  }

  .dropdown-menu {
    min-width: 236px;
  }
}

.cd-global-header__sites-btn {
  color: $light-text-color;
  text-transform: uppercase;
  text-align: left;
  padding: 0 0 0 $base-unit;
  height: $cd-global-header-height;
  padding-left: $base-unit*1.5;
  padding-right: $base-unit*1.5;

  &:hover, &:focus {
    background: darken($primary-bg-color, 10%);
    outline: none;
  }
}

.cd-global-header__nav {
  margin-right: -$base-unit;

  .no-flexbox & {
    float: right;
  }
}
