.cd-site-header {
  border-bottom: 2px solid $border-color;
}

.cd-site-header__inner {
  align-items: center;
  position: relative;
  height: $cd-site-header-height-md;
  display: flex;

  .no-flexbox & {
    height: $cd-site-header-height-md;
    padding-top: $base-unit;
    padding-bottom: $base-unit;
  }
}

.cd-site-header__logo {
  display: block;
  position: relative;
  background: url('../assets/images/ocha-logo.svg') left center no-repeat;
  background-size: 100% auto;
  width: 167px;
  height: $cd-site-header-height-md;
  margin-right: $base-unit*2;
  margin-top: 0;

  .no-svg & {
    background-image: url('../assets/images/ocha-logo.png');

    span {
      position: absolute;
      left: -99999px;
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
  }

  .no-flexbox & {
    float: left;
  }

  &:hover, &:focus, &.cd-active {
    &:after {
      border-color: $cd-highlight-color;
    }
  }

  &:focus {
    outline-style: dotted;
    outline-width: 1px;
    outline-color: $border-color;
  }
}

.cd-site-header__search {
  flex-grow: 1;

  .no-flexbox & {
    float: left;
  }
}

.cd-header-search {
  position: relative;

  .no-svg & {
    label {
      position: absolute;
      left: -999999px;
    }
  }
}

.cd-header-search__input {
  border: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
  background: transparent;
  font-family: $body-font;
  font-size: $base-font-size;
  padding: $base-unit*1.5 $base-unit*1.5 $base-unit*1.5 $base-unit*3.5;
  width: 96%;
  height: $cd-site-header-height-xs + 2;
  border-bottom: 2px solid transparent;
  margin-top: 2px;

  &:focus {
    outline: none;
    background: $cd-nav-focus-bg;
    border-color: $cd-highlight-color;
  }

  .no-svg & {
    border: 1px solid $border-color;
  }
}

.cd-header-search__button {
  position: absolute;
  left: $base-unit/2;
  top: 50%;
  margin-top: -$base-unit*1.25;
  width: $base-unit*2.5;
  height: $base-unit*2.5;

  &:focus {
    outline: none;
    background: $primary-bg-color;
  }

  .icon-arrow-down {
    display: inline-block;
    padding-top: 2px;
  }

  svg {
    width: 100%;
    height: 100%;
    fill: $cd-highlight-color;
  }

  .no-svg & {
    left: auto;
    top: 10px;
    right: 2%;
    height: 100%;
    width: auto;
    background: $primary-bg-color;
    color: $light-text-color;
    padding: $base-unit;

    .sr-only {
      position: static;
    }
    svg {
      display: none;
    }
  }
}

.cd-header-search__input:focus + .cd-header-search__button svg {
  fill: $primary-bg-color;
}

.cd-site-header__nav-toggle {
  display: none;
}

.cd-dropdown-menu.cd-site-header__nav {
  display: block;
  width: auto;
  max-width: none;
  position: static;
  box-shadow: none;

  .no-flexbox {
    float: right;
  }
}
