.cd-nav {
  display: flex;
}

.cd-nav--secondary {
  display: flex;
}

.cd-nav__item {
  position: relative;

  .cd-dropdown-menu {
    left: auto;
    right: 0;
  }

  .cd-dropdown-menu--small {
    min-width: 100%;
  }

  .cd-nav--primary & {
    text-transform: uppercase;
    border-bottom: 1px solid $border-color;
    display: inline-block;
  }

  .cd-nav--secondary & {
    display: inline-block;
  }

  &:last-child {
    .cd-nav__link {
      &:before {
        content: none;
      }
    }
  }
}

.cd-nav__link {
  display: block;
  line-height: 1;
  padding: 0 $base-unit;
  text-decoration: none;
  position: relative;
  font-size: $base-font-size;

  &:before {
    content: "";
    display: inline-block;
    width: 1px;
    position: absolute;
    right: -1px;
    top: 2px;
    height: $base-unit*1.5;
    z-index: 1;
  }

  .icon-arrow-down {
    font-size: 14px;
    line-height: 1.5;
  }

  .cd-nav--primary & {
    color: $heading-text-color;
    align-items: center;
    border-bottom: none;
    display: block;
    height: $cd-site-header-height-md;
    padding-top: $base-unit*3;
    padding-bottom: $base-unit*2;

    &:before {
      top: 50%;
      margin-top: -$base-unit*.75;
      background: $primary-bg-color;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      border-bottom: 2px solid transparent;
      transition: border-color 0.3s ease;
    }

    &:hover, &:focus {
      background: $cd-nav-focus-bg;
      outline: none;
      color: $heading-text-color;

      &:after {
        border-color: $cd-highlight-color;
      }
    }
  }

  .cd-active & {
    font-weight: bold;

    &:after {
      border-color: $cd-highlight-color
    }
  }

  .cd-nav--secondary & {
    color: $light-text-color;
    height: $cd-global-header-height;
    padding: $base-unit*1.5 $base-unit*.75;

    &:before {
      background: $light-text-color;
      top: 14px;
    }

    &:hover, &:focus {
      outline: none;
      background: darken($primary-bg-color, 10%);
    }
  }

}
