/**
 * Common Header styles
 */

.cd-header {
  min-width: $cd-max-width;
  margin-bottom: $cd-base-unit*2;

  button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
  }

  ul, li {
    list-style: none;
  }

  ::-webkit-input-placeholder {
    color: $body-text-color;
    font-style: italic;
  }
  ::-moz-placeholder {
    color: $body-text-color;
    font-style: italic;
  }
  :-ms-input-placeholder {
    color: $body-text-color;
    font-style: italic;
  }
  :-moz-placeholder {
    color: $body-text-color;
    font-style: italic;
  }

  .container {
    &:after {
      content: none;
    }
  }
}

.cd-dropdown {
  position: relative;
}

.cd-dropdown-menu {
  position: absolute;
  z-index: 99;
  background: white;
  width: 100%;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.25);
  display: none;

  .open & {
    display: block;
  }

  a {
    display: block;
    padding: $cd-base-unit*1.5;
    border-bottom: 1px solid $border-color;
    text-decoration: none;
    color: $body-text-color;
    word-break: break-word;
    transition: background .3s ease;

    &:hover, &:focus {
      background: $primary-bg-color;
      color: $light-text-color;
    }
  }
}

/** The following can be removed if already included in site styles **/
.cd-header {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

  .container {
    padding-left: $cd-base-unit;
    padding-right: $cd-base-unit;
    width: 100%;
    max-width: $cd-max-width;
    margin: 0 auto;
  }
}
