/**
 * Common Design Footer copyright section.
 */

.cd-footer-copyright__text {
  a {
    border-color: $cd-bright-border-color;

    &:hover,
    &:focus {
      border-color: $cd-white-border;
    }
  }
}

.cd-footer-copyright__icon {
  display: block;
  font-size: 38px;
  margin: 16px auto 0 auto;
}

.cd-footer-copyright__message {
  align-items: center;
  display: flex;
  max-width: 350px;
  margin: 0 auto;
}

@media (min-width: map-get($cd-breakpoints, tablet)) {

  .cd-footer-copyright {
    flex: 1;
    align-items: flex-start;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin-top: 30px; // align with provide-by main text
  }

  .cd-footer-copyright__message {
    align-items: center;
    display: flex;
    margin: unset;
  }

  .cd-footer-copyright__text {
    // Force the text to wrap in IE10.
    display: inline-block;
    max-width: 100%;
    flex-shrink: 1;
  }

  .cd-footer-copyright__icon {
    margin: 0 0 0 20px;
  }

}
