/**
 * Common Design Footer social links.
 */

a.cd-footer-social__link {
  background: transparent;
  border: 1px solid $cd-white-border;
  border-radius: 100%;
  display: inline-block;
  font-size: 25px;
  height: 26px;
  line-height: 0;
  margin: 0 10px;
  position: relative;
  transition: background 0.3s ease;
  width: 26px;

  &:hover,
  &:focus {
    background: $cd-white-bg-color;
    border-color: $cd-white-border;
    color: $cd-blue-text-color;
  }
}

@media (min-width: map-get($cd-breakpoints, tablet)) {
  .cd-footer-social {
    flex: 1 0 100%;
  }
}

@media (min-width: map-get($cd-breakpoints, desktop)) {

  .cd-footer-social {
    flex: 0 1 auto;
  }

  a.cd-footer-social__link {
    margin: 0 0 0 20px;

    &:first-child {
      margin: 0;
    }
  }

}
