/**
 * Common Design Footer.
 */

.cd-footer {
  grid-row: 2/3; // position footer so visible on short pages.
  background: $cd-primary-bg-color;
  color: $cd-white-text-color;
  padding: 48px 0 0 0;
  text-align: center;
  line-height: 1.5;

  a {
    border-bottom: 1px solid transparent;
    color: $cd-white-text-color;
    text-decoration: none;

    &:hover,
    &:focus {
      border-color: $cd-bright-border-color;
    }
  }
}

.cd-footer__section {
  padding-bottom: 48px;
}

@media (min-width: map-get($cd-breakpoints, tablet)) {

  .cd-footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .cd-footer__section {
    padding-bottom: 48px;
  }
}

@media (min-width: map-get($cd-breakpoints, desktop)) {

  .cd-footer {
    padding-bottom: 0;
  }
}
